<h1>Edit: <%= @publication_title.title %></h1>
<% form_for :publication_title, @publication_title, :url => admin_publication_title_path(@publication_title), :html => { :multipart => true, :method => :put } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <div class="submit">
    <%= f.submit 'Save' %> or <%= link_to 'Cancel', admin_publication_titles_path, :class => 'cancel' %>
  </div>
<% end %>
