.DS_Store
log/*.log
tmp/**/*
config/database.yml
public/cache/**/*
public/system/**/*
public/system/file_conversions
vendor/bundler_gems
vendor/bundler_gems/gems
vendor/bundler_gems/specifications
vendor/bundler_gems/doc
vendor/bundler_gems/environment.rb
vendor/bundler_gems/**/*
public/file_conversions
Gemfile.lock
.bundle/environment.rb
config/*.sphinx.conf
db/sphinx/**/*
log/*.pid
.rvmrc

#symlinked paths for images in publications
public/images/technical-library/*