<h1>Parts for <%= @product_line.name %></h1>

<% if @parts.any? %>
<table cellpadding="0" summary="Listing of Parts for <%= @product_line.name %>">
  <thead>
    <th>Part Number</th>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
    <tr>
      <td><%= link_to part.part_number, product_line_part_path(@product_line.url_friendly, part.url_friendly) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>