<fieldset id="make_detail" class="manage">
  <legend>Make Detail</legend>
  
  <div class="text">
    <%= f.error_message_on :name %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
</fieldset>