<h1>Edit: <%= @reference_figure.name %></h1>
<% form_for :reference_figure, @reference_figure, :url => admin_reference_figure_path(@reference_figure), :html => { :multipart => true, :method => :put } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <div class="submit">
    <%= f.submit 'Save' %> or <%= link_to 'Cancel', admin_reference_figures_path, :class => 'cancel' %>
  </div>
<% end %>