<h1>Add a new Category</h1>
<% form_for :publication_category, @publication_category, :url => admin_publication_categories_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <div class="submit">
    <%= f.submit 'Save' %> or <%= link_to 'Cancel', admin_publication_categories_path, :class => 'cancel' %>
  </div>
<% end %>