<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Prototype Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <tr>
      <td><%= link_to 'Speed Ordering', prototype_detail_path('speed_order') %></td>
    </tr>
    <tr>
      <td><%= link_to 'Catalog Ordering', prototype_detail_path('catalog_order') %></td>
    </tr>
  </tbody>
</table>