div.user-options {
  float: right;
}
a.destroy-html {
  float: right;
  padding-right: 15px;
  font-weight: bold;
}
#col-1 {
  clear: both;
  float: left;
  width: 20%;
  margin-left: -10px;
  margin-top: 30px;
}
#col-2 {
  float: right;
  width: 77%;
}
#wrapper-inner {
  padding-top: 10px;
}
#col-1 ul li {
  border-bottom: 1px solid #ddd;
}
#col-1 ul li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 0 2px 10px;
}
#col-1 ul li a:hover {
  background-color: #ddd;
}
table tbody td.options {

}
table tbody td.options ul li {
  float: left;
  display: inline;
}
table tbody td.options ul li a {
  display: block;
  padding-right: 10px;
}
table thead th {
  font-weight: bold;
  border-bottom: 2px solid #666;
  border-collapse: collapse;
}
table tbody td {
  line-height: 1.7;
  font-size: 12px;
  padding: 3px 2px;
  border-bottom: 1px solid #ddd;
}
/* -- =SEARCH -- */
div.search-box {
  float: right;
  width: 40%;
}
div.search-box label {
  height: 0;
  position: absolute;
  left: -9999px;
}
div.search-box div.search input {
  float: left;
  margin-right: 10px;
}
div.search-box div.submit input {
  float: left;
}
.inactive {
  color: #ddd;
  font-size: 10px;
  text-transform: uppercase;
}
table tbody tr.hover-row td {
  background-color: #eee;
}
/* -- =FLASH -- */
div.flash-notice {
  float: left;
  width: 100%;
  background-color: #eee;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
body.js-enabled div.flash-notice {
  1display: none;
}
img.photo,
img.tiny-reference-figure {
  border: 2px solid #eee;
  padding: 1px;
}
img.tiny-reference-figure {
  margin-right: 7px;
}
table.reference-figures td.name img {
  float: left;
}
div.flash-notice p {
  padding: 8px 10px;
}
/* -- =NAVIGATION -- */
.active,
body#product-lines-home ul li#product-line-nav,
body#parts-home ul li#part-nav,
body#units-home ul li#unit-nav,
body#makes-home ul li#make-nav,
body#reference-figures-home ul li#reference-figure-nav,
body#distributors-home ul li#distributor-nav,
body#publication-titles-home ul li#publication-title-nav,
body#publication-categories-home ul li#publication-category-nav,
body#users-home ul li#user-nav {
  background-color: #ddd;
}
/* -- =PAGINATION --*/
.digg_pagination {
  margin-top: 10px;
  background: white;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }