div.user-options {
  float: right;
}
#col-1 {
  clear: both;
  float: left;
  width: 20%;
  margin-left: -10px;
  margin-top: 30px;
}
#col-2 {
  float: right;
  width: 77%;
}
#wrapper-inner {
  padding-top: 10px;
}
#col-1 ul li {
  border-bottom: 1px solid #ddd;
}
#col-1 ul li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 0 2px 10px;
}
#col-1 ul li a:hover {
  background-color: #ddd;
}
table tbody td.options {

}
table tbody td.options ul li {
  float: left;
  display: inline;
}
table tbody td.options ul li a {
  display: block;
  padding-right: 10px;
}