/* -----------------------------
Blue (Navigation, Text): 00548e
Gray (hover): 888888
Orange (hover): cc9933
----------------------------- */
body {
  font: normal 16px/1.8 "Helvetica Neue",Helvetica,sans-serif;
  text-align: center;
  color: #000041;
}
#disclaimer,
#terms {
  width: 800px;
  margin: 0 auto;
  color: #666;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.3;
}
#container {
  width: 800px;
  text-align: left;
  margin: 0 auto;
  border: 1px solid #133d8d;
  margin-top: 8px;
  font-size: 12px;
}
#extra {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #fff;
  background-color: #00548e;
  border-top: 1px solid #000000;
}
#extra p {
  padding: 3px 10px;
}
#wrapper {
  float: left;
  width: 100%;
}
#wrapper-inner {
  padding: 35px 3px 30px 17px;
}
#masthead ul {
  width: 100%;
  height: 36px;
  float: left;
  font-size: 12px;
  background-color: #00548e;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
#masthead h1 a {
  background: url('/images/header-home.jpg') 100% 0 no-repeat;
  display: block;
  height: 120px;
  text-indent: -9999px;
}
#masthead ul a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
#masthead ul li {
  float: left;
  display: inline;
  height: 36px;
  border-right: 1px solid #000;
}
#masthead ul li a {
  display: block;
  padding: 0px 22px;
  height: 36px;
  line-height: 3;
}
#masthead ul li a:hover {
  background-color: #888888;
}
#masthead ul li.last {
  border: none;
  padding-right: 6px;
}
#masthead ul ul {
  display: none;
}
h1 {
  font-size: 28px;
}
.inactive,
.even .inactive {
  color: #ddd;
  font-size: 10px;
  text-transform: uppercase;
}
.odd .inactive {
  color: #333;
}
span.pdf-size {
  font-size: 11px;
  vertical-align: middle;
}
/* -- =FORMS -- */
form fieldset legend {
  position: absolute;
  left: -9999px;
}
form div.text label,
form div.textarea label,
form div.select label,
form div.date label,
form div.datetime label {
  display: block;
  font-weight: bold;
}
form div.text input,
form div.textarea textarea {
  padding: 2px;
  font-weight: bold;
  color: #666;
}
/* -- =DISTRIBUTORS -- */
#distributors table thead th {
  font-weight: bold;
  border-bottom: 2px solid #666;
  border-collapse: collapse;
}
#distributors table tbody td {
  line-height: 1.7;
  font-size: 12px;
  padding: 3px 2px;
  border-bottom: 1px solid #ddd;
}
/* -- =LINKS -- */
a {
  color: #002581;
}
/* -- =CLEARFIX -- */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* -- TECHNICAL LIBRARY --*/
div.indicator {
  display: inline;
  margin-left: 5px;
}
div.technical-library-index ul {
  margin-left: 20px;
  margin-bottom: 10px;
}
div.technical-library-index ul a {
  color: #0202FF;
  font-weight: bold;
  font-size: 14px;
}
div.publication-list label {
  font-weight: bold;
}
div.publication-list div#filter-options {
  width: 100%;
  padding: 15px 0 25px 0;
}
div.publication-list form {
  width: 100%;
}
div.publication-list form select {
  width: 200px;
}
div.publication-list form label {
  width: 15%;
  float: left;
}
div.publication-list div.make-units {
  float: left;
  width: 49%;
}
div.publication-list div.make-units .make-selector {
  padding-bottom: 10px;
}
div.publication-list div.subjects {
  float: left;
  width: 49%;
}
div.publication-list div.publications {
  clear: both;
}
div.publication-list form div.submit {
  display: none;
}
div.publication-list table tr.even {
  
}
div.publication-list table tr.odd {
  background-color: #D7DEE5;
}
div.publication-list table {
  width: 100%;
  float: left;
  clear: both;
}
div.publication-list table a {
  color: #0505FF;
}
div.publication-list table tbody a {
  text-decoration: none;
}
div.publication-list table tbody td {
  padding: 4px 5px;
}
div.publication-list table tbody td.article {
  padding-left: 5px;
}
div.publication-list table thead th.article,
div.publication-list table tbody td.article {
  width: 60%;
}
div.publication-list table thead th.authors,
div.publication-list table tbody td.authors {
  width: 20%;
}
div.publication-list table thead th.published-date,
div.publication-list table tbody td.published-date {
  width: 19%;
}
div.publication-list table thead th {
  font-weight: bold;
  color: #0505FF;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
}
/* =TABLES */
table.tablesorter thead tr .header {
	background-image: url(/images/icons/bg.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 18px;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/icons/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/icons/desc.gif);
}
/* =HOME */
div#home div#parts h3 {
  font-weight: bold;
  color: #00257B;
  font-size: 14px;
}
  div#home div#parts {
    margin-bottom: 10px;
  }
  div#home div#parts,
  div#home div#parts ul {
    float: left;
  }
  div#home div#parts ul li p.more {
    padding-top: 7px;
    text-align: left;
  }
  div#home div#parts ul li {
    margin-bottom: 31px;
  }
  div#home div#parts ul li img {
    float: left;
    margin-right: 15px;
    border: 1px solid #00257b;
  }
  div#home div#parts ul li h3 {
    width: 413px;
    float: right;
    margin: 0 0 7px 0;
    padding-top: 0;
    line-height: 1;
  }
  div#home div#parts ul li p {
    line-height: 1.3;
  }
div#home div#intro {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 30px;
}
div#home div#intro strong {
  font-weight: bold;
  font-style: italic;
}
div#home div#col-1 {
  width: 580px;
  float: left;
}
div#home div#col-2 {
  width: 160px;
  float: right;
}
  div#home div#col-2 div#cores,
  div#home div#col-2 div#insider,
  div#home div#col-2 div#espanol {
    margin-bottom: 45px;
  }
  div#home div#col-2 div#insider h4 {
    font-size: 21px;
    line-height: 1.3;
    font-weight: bold;
    color: #024368;
  }
  div#home div#col-2 div#insider {
    text-align: center;
  }
  div#home div#col-2 div#insider p {
    font-size: 14px;
    line-height: 1.4;
    color: #000;
  }
  div#home div#col-2 div#espanol h4 {
    font-size: 21px;
    line-height: 1.3;
    font-weight: bold;
    color: #00257B;
    text-align: center;
  }
  div#home div#col-2 div#sitemap h4 {
    font-size: 21px;
    line-height: 1.3;
    font-weight: bold;
    color: #00257B;
    text-align: center;
    text-transform: uppercase;
  }
div#home div#col-3 {
  clear: both;
  float: left;
}
div#home div.iso-registered {
  font-size: 10px;
  font-weight: bold;
  color: #00257B;
  text-align: center;
}
/* =SOCIAL */
div.social-media {
  float: left;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 20px;
}
div.social-media div.twitter {
  float: left;
  width: 185px;
  line-height: 1;
  margin-right: 60px;
  margin-left: 132px;
}
div.social-media div.facebook {
  float: left;
  width: 240px;
  line-height: 1;
}
div.social-media div.twitter img,
div.social-media div.facebook img {
  float: left;
  margin-right: 14px;
}
a.twitter,
a.facebook {
  font-size: 16px;
  color: #00257B;
  font-weight: bold;
}
