div#masthead ul li ul {
  margin-left: -66px;
}
#masthead ul li.technical-library ul {
  margin-left: 0;
}
#masthead ul li.about-us ul {
  margin-left: -67px;
}
div#masthead li:hover {  
  position: static;  
}