body {
  font: normal 14px/1.7 Georgia,sans-serif;
}
#masthead h1 a {
  background: url('/images/header.jpg') 100% 0 no-repeat;
  display: block;
  height: 120px;
  text-indent: -9999px;
}
#masthead ul {
  display: none;
}
a {
  text-decoration: none;
  color: #000;
}
.print-friendly {
  display: none;
}
table.article {
  margin-bottom: 15px;
  border:  #00548e 1px solid;
}
table.article thead th {
  vertical-align: bottom;
  border-bottom: solid 2px #666;
  padding: 0 10px 0 10px;
}
table.article tbody td {
  vertical-align: bottom;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  padding: 0 10px 0 10px;
}
div.publication-body td.articlefigure {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border: 1px;
	vertical-align: bottom;
}
div.publication-body p.body {
	padding-right: 5px;
	line-height: 1.5;
}
div.publication-body table.static {
  margin-bottom: 15px;
}
div.publication-body p.partnumber {
	font-weight: bold;
}
div.publication-body p.credits {
	border-top: #00548e 1px solid;
	padding: 5px;
	margin-top: 20px;
	line-height: 1.5;
	font-style: italic;
}
div.publication-body p.note {
	padding-right: 5px;
	font-style: italic;
	line-height: 1.5;
}
div.publication-body p.partnumber {
	font-weight: bold;
}
div.publication-body p.title {
	color: #00458e;
	font-size: 16px;
	font-weight: bold;
}
div.publication-body ul.articlelist {
	list-style: disc;
}
div.publication-body ul.articlelist li {
	list-style: disc;
	margin-left: 30px;
	margin-bottom: 5px;
	line-height: 1.5;
}
div.publication-body ol.articleordlist {
	list-style: decimal;
}
div.publication-body ol.articleordlist li {
	list-style: decimal;
	margin-left: 30px;
	margin-bottom: 5px;
	line-height: 1.5;
}
div.publication-body p.subtitle {
	color: #00458e;
	font-size: 14px;
	font-weight: bold;
}
div.publication-body p.subtitle2 {
	font-size: 14px;
	font-weight: bold;
}
img.articleimageleft {
	border: #00548e 1px solid;
	padding: 0;
	margin: 3px 10px 3px 0px;
	float: left;
}
img.articleimage {
	border: #00548e 1px solid;
	padding: 0;
	margin: 10px 0px 10px 0px;
}
img.articleimageright {
	border: #00548e 1px solid;
	padding: 0;
	margin: 3px 10px 3px 15px;
	float: right;
}
.print {
  background: transparent url('/images/icons/printer.png') 0 0 no-repeat;
  padding-left: 20px;
  text-transform: uppercase;
  font-family: Helvetica,sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
}
.print-cta {
  background-color: #eee;
  display: block;
  padding: 5px 10px;
  border: 2px solid #ddd;
  float: right;
  margin-right: 15px;
}
