h2 {
  font-size: 1.5em;
}
p {
  margin-bottom: 1em;
}
strong {
  font-weight: bold;
}
strong.note {
  text-transform: uppercase;
}
em {
  font-style: italic;
}
a.add {
  background: transparent url(/images/icons/add.png) 0 30% no-repeat;
  font-weight: bold;
  padding: 3px 10px 5px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  color: #000;
}
table.speed-order {
  margin-bottom: 10px;
  border-collapse: collapse;
}
table.speed-order tr label {
  display: none;
}
table.speed-order thead th {
  font-weight: bold;
}
table.speed-order thead tr th {
  border-bottom: 2px solid #333;
}
table.speed-order tbody tr td {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}
form#speed-order-form fieldset.submit {
  border-top: 2px solid #333;
  text-align: right;
  padding: 7px;
  margin-top: 1em;
}
form#speed-order-form fieldset.submit button {
  margin-right: 3.5em;
}
tr.valid td.quantity {
  background-image: url(/images/icons/tick.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
tr.valid {
  background-color: #ffffcc;
}
tr.invalid td.quantity {
  background-image: url(/images/icons/cross.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
tr.invalid {
  background-color: #ffd5d5;
}
input[type="text"] {
  font-weight: bold;
}
/* =CATALOGS */
ul.catalogs,
ul.catalogs li {
  float: left;
}
ul.catalogs li {
  width: 33%;
  margin-bottom: 2em;
}
ul.catalogs li h3 {
  font-size: 1.3em;
  padding-top: 0;
  margin-top: 0;
}
ul.catalogs li p {
  margin-bottom: 0;
}
ul.catalogs li div.details {
  float: right;
  width: 50%;
}
ul.catalogs li span.cover {
  border: 2px solid #ddd;
  line-height: 0;
  float: left;
  width: 148px;
}
ul.catalogs li span.cover img {
  padding: 2px;
}