<div id="product-line" class="driveline">
  <div id="col-1">
    <h1>Driveline</h1>
    <div class="description">
      <p>Sonnax is proud to design and manufacture the industry's best aluminum driveline components. We offer OE-quality Alcoa<sup>&reg;</sup> tubing ordered to our specifications, along  with 6061-T6 aluminum yokes and repair bushings which are precision machined by skilled craftsmen at our Vermont manufacturing facility.</p>
    </div>
    
    <ul>
      <li><%= link_to 'Parts Listing', product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'Email Sign Up', subscribe_to_email_newsletter_path, :class => 'email' %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
    </ul>
  </div>
  
  <div id="col-2">
    <%= image_tag('driveline.gif', :width => 325, :height => 426, :alt => 'Driveline') %>
  </div>
</div>
