<div id="product-line" class="driveline">
  <h1>Driveline</h1>
	<h4><a href="#WeldYokes">Aluminum Weld Yokes</a>, <a href="#Tubing">Aluminum Tubing by Alcoa</a><sup>&reg;</sup> and <a href="#Bushings">Aluminum Repair Bushings</a></h4>
  <a name="WeldYokes"><h2>&nbsp;</h2></a>
  <h2>Aluminum Weld Yokes</h2>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Aluminum Weld Yokes">
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Description</th>
        <th>Application</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>T31-28-3012</td>
        <td>3.0" x .125" Tube</td>
        <td>1310 Series
    </td>
      </tr>
      <tr class="blue">
        <td>T31-28-3512</td>
        <td>3.5" x .125" Tube</td>
        <td>1310 Series </td>
      </tr>
      <tr>
        <td>T33-28-3012</td>
        <td>3.0" x .125" Tube</td>
        <td>1330 Series </td>
      </tr>
      <tr class="blue">
        <td>T33-28-3512</td>
        <td>3.5" x .125" Tube</td>
        <td>1330 Series </td>
      </tr>
      <tr>
        <td>T33-28-4012</td>
        <td>4.0" x .125" Tube</td>
        <td>1330 Series </td>
      </tr>
      <tr class="blue">
        <td>T33-28-5012</td>
        <td>5.0" x .125" Tube</td>
        <td>1330 Series </td>
      </tr>
      <tr>
        <td>T35-28-3012</td>
        <td>3.0" x .125" Tube</td>
        <td>1350 Series </td>
      </tr>
      <tr class="blue">
        <td>T35-28-3512</td>
        <td>3.5" x .125" Tube</td>
        <td>1350 Series </td>
      </tr>
      <tr>
        <td>T35-28-4012</td>
        <td>4.0" x .125" Tube</td>
        <td>1350 Series </td>
      </tr>
      <tr class="blue">
        <td>T35-28-5012</td>
        <td>5.0" x .125" Tube</td>
        <td>1350 Series </td>
      </tr>
      <tr>
        <td>T41-28-5012</td>
        <td>5.0" x .125" Tube</td>
        <td>1410 Series </td>
      </tr>
      <tr class="blue">
        <td>T48-28-5012</td>
        <td>5.0" x .125" Tube</td>
        <td>1480 Series </td>
      </tr>
      <tr>
        <td>T3R-28-3012</td>
        <td>3.0" x .125" Tube</td>
        <td>3R Series </td>
      </tr>
      <tr class="blue">
        <td>T3R-28-3512</td>
        <td>3.5" x .125" Tube</td>
        <td>3R Series </td>
      </tr>
    </tbody>
  </table>
  <ul class="article-list">
    <li>Forged from 6061-T6 aluminum</li>
	<li>Machined to the industry's most exacting tolerances</li>
	<li>Extra-thick pilot weld wall for consistent welds</li>
  </ul>
  <a name="Tubing"><h2>&nbsp;</h2></a>
  <h2>Aluminum Tubing by Alcoa<sup>&reg;</sup></h2>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Aluminum Tubing by Alcoa">
    <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>T300-125-54</td>
      <td>3.0" x .125" Tube x 54"</td>
    </tr>
      <tr class="blue">
      <td>T350-125-54</td>
      <td>3.5" x .125" Tube x 54"</td>
    </tr>
    <tr>
      <td>T350-125-72</td>
      <td>3.5" x .125" Tube x 72"</td>
    </tr>
      <tr class="blue">
      <td>T400-125-72</td>
      <td>4.0" x .125" Tube x 72"</td>
    </tr>
    <tr>
      <td>T500-125-80</td>
      <td>5.0" x .125" Tube x 80"</td>
    </tr>
    </tbody>
  </table>

  <ul class="article-list">
    <li>OE-quality Alcoa<sup>&reg;</sup> tubing ordered to Sonnax specifications</li>
	<li>Surpasses ATSM B210-04 specification</li>
	<li>Custom lengths available in crate quantities</li>
  </ul>

  <a name="Bushings"><h2>&nbsp;</h2></a>
  <h2>Aluminum Repair Bushings</h2>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Aluminum Repair Bushings">
    <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>T300-125-083</td>
      <td>3.0" Dia. for use with .083" tube &amp; .125" weld yokes</td>
    </tr>
      <tr class="blue">
      <td>T300-125-125</td>
      <td>3.0" Dia. for use with .125" tube &amp; .125" weld yokes</td>
    </tr>
    <tr>
      <td>T350-125-083</td>
      <td>3.5" Dia. for use with .083" tube &amp; .125" weld yokes</td>
    </tr>
      <tr class="blue">
      <td>T350-125-125</td>
      <td>3.5" Dia. for use with .125" tube &amp; .125" weld yokes</td>
    </tr>
    <tr>
      <td>T400-125-083</td>
      <td>4.0" Dia. for use with .083" tube &amp; .125" weld yokes</td>
    </tr>
      <tr class="blue">
      <td>T400-125-125</td>
      <td>4.0" Dia. for use with .125" tube &amp; .125" weld yokes</td>
    </tr>
    <tr>
      <td>T500-125-065</td>
      <td>5.0" Dia. for use with .065" tube &amp; .125" weld yokes</td>
    </tr>
      <tr class="blue">
      <td>T500-125-083</td>
      <td>5.0" Dia. for use with .083" tube &amp; .125" weld yokes</td>
    </tr>
    <tr>
      <td>T500-125-125</td>
      <td>5.0" Dia. for use with .125" tube &amp; .125" weld yokes</td>
    </tr>
    </tbody>
  </table>

  <ul class="article-list">
    <liManufactured from 6061-T6 aluminum</li>
	<li>.250" Thick for consistent welds</li>
	<li>3" Length for use as an extension</li>
	<li>Various sizes offered to repair OE tubes with .125" weld yokes</li>
  </ul>
</div>