<div id="product-line" class="harley-davidson">
<h1>Harley Davidson<sup>&reg;</sup> Replacement Bearings</h1>
<h4><a href="#Transmission">Transmission Rollers</a>, <a href="#ShortRod">Short Rod Rollers</a>, <a href="#LongRod">Long Rod Rollers</a>, <a href="#ShortValve">Short Side Valve Rollers</a>, <a href="#LongValve">Long Side Valve Rollers</a>, <a href="#Crankcase">Crankcase Rollers</a>, <a href="#CrankcaseWheel">Crankcase &amp; Wheel Bearing Rollers</a>, <a href="#ClutchHub">Clutch Hub Rollers</a>, and <a href="#Engine">Transmission &amp; Engine Rollers</a></h4>

  <a name="Transmission"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Transmission Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Transmission Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="4" class="description">.125&quot; x .625&quot;<br>
		E'36-'77 Big Twin Mainshaft<br>
		E'36-'77 Big Twin Countershaft
      </td>
      <td class="col">HDBR0001</td>
      <td>9084</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0002</td>
      <td>9085</td>
    </tr>
    <tr>
      <td class="col">HDBR0051</td>
      <td>9086</td>
    </tr>
    <tr class="blue">
      <td class="collast">HDBR0056</td>
      <td class="last">9084+.001</td>
    </tr>
    <tr>
      <td rowspan="3" class="description">.156&quot; x .625&quot;<br>
		'52-'84 Sportster
      </td>
      <td class="col">HDBR0052</td>
      <td>9095</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0003</td>
      <td>9096</td>
    </tr>
    <tr>
      <td class="collast">HDBR0004</td>
      <td class="last">9097</td>
    </tr>
    </tbody>
  </table>

  <a name="ShortRod"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Short Rod Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Short Rod Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="10" class="description">.188&quot; x .294&quot;<br>
		E'54-'86 Sportster<br>
		'73-'86 Big Twin
      </td>
      <td class="col">HDBR0005</td>
      <td>9441A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0006</td>
      <td>9442A</td>
    </tr>
    <tr>
      <td class="col">HDBR0007</td>
      <td>9443A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0008</td>
      <td>9444A</td>
    </tr>
    <tr>
      <td class="col">HDBR0009</td>
      <td>9445A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0010</td>
      <td>9446A</td>
    </tr>
    <tr>
      <td class="col">HDBR0069</td>
      <td>9415</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0070</td>
      <td>9418</td>
    </tr>
    <tr>
      <td class="col">HDBR0071</td>
      <td>9441+.003</td>
    </tr>
    <tr class="blue">
      <td class="collast">HDBR0072</td>
      <td class="last">9450A</td>
    </tr>
    </tbody>
    <tr>
      <td rowspan="5" class="description">.188&quot; x .344&quot;<br>
		'51-'72 Big Twin
      </td>
      <td class="col">HDBR0024</td>
      <td>9101A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0026</td>
      <td>9103A</td>
    </tr>
    <tr>
      <td class="col">HDBR0027</td>
      <td>9104A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0028</td>
      <td>9105A</td>
    </tr>
    <tr class="last">
      <td class="collast">HDBR0029</td>
      <td class="last">9106A</td>
    </tr>
  </table>

  <a name="LongRod"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Long Rod Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Long Rod Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="9" class="description">.188&quot; x .490&quot;<br>
		E'54-'86 Sportster
      </td>
      <td class="col">HDBR0011</td>
      <td>9150A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0012</td>
      <td>9152A</td>
    </tr>
    <tr>
      <td class="col">HDBR0013</td>
      <td>9154A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0014</td>
      <td>9156A</td>
    </tr>
    <tr>
      <td class="col">HDBR0015</td>
      <td>9158A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0016</td>
      <td>9160A</td>
    </tr>
    <tr>
      <td class="col">HDBR0059</td>
      <td>9416</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0058</td>
      <td>9417</td>
    </tr>
    <tr>
      <td class="collast">HDBR0060</td>
      <td class="last">9161</td>
    </tr>
    <tr>
      <td rowspan="9" class="description">.188&quot; x .594&quot;<br>
		'73-'86 Big Twin
      </td>
      <td class="col">HDBR0050</td>
      <td>9186</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0046</td>
      <td>9180</td>
    </tr>
    <tr>
      <td class="col">HDBR0048</td>
      <td>9181</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0044</td>
      <td>9182</td>
    </tr>
    <tr>
      <td class="col">HDBR0049</td>
      <td>9183</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0045</td>
      <td>9184</td>
    </tr>
    <tr>
      <td class="col">HDBR0061</td>
      <td>9186+.002</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0062</td>
      <td>9186+.003</td>
    </tr>
    <tr>
      <td class="collast">HDBR0047</td>
      <td class="last">9185</td>
    </tr>
    <tr>
      <td rowspan="6" class="description">.188&quot; x .662&quot;<br>
		'51-'72 Big Twin
      </td>
      <td class="col">HDBR0030</td>
      <td>9171A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0031</td>
      <td>9172A</td>
    </tr>
    <tr>
      <td class="col">HDBR0032</td>
      <td>9173A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0053</td>
      <td>9174A</td>
    </tr>
    <tr>
      <td class="col">HDBR0054</td>
      <td>9175A</td>
    </tr>
    <tr class="blue">
      <td class="collast">HDBR0055</td>
      <td class="last">9176A</td>
    </tr>
    </tbody>
  </table>

  <a name="ShortValve"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Short Side Valve Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Short Side Valve Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="6" class="description">.250&quot; x .281&quot;<br>
		'29-'73 45CI
      </td>
      <td class="col">HDBR0033</td>
      <td>9301</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0034</td>
      <td>9302</td>
    </tr>
    <tr>
      <td class="col">HDBR0035</td>
      <td>9303</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0036</td>
      <td>9304</td>
    </tr>
    <tr>
      <td class="col">HDBR0037</td>
      <td>9305</td>
    </tr>
    <tr class="blue">
      <td class="collast">HDBR0038</td>
      <td class="last">9306</td>
    </tr>
    </tbody>
  </table>

  <a name="LongValve"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Long Side Valve Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Long Side Valve Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="6" class="description">.250&quot; x .260&quot;<br>
		'29-'73 45CI
      </td>
      <td class="col">HDBR0039</td>
      <td>9241</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0064</td>
      <td>9242</td>
    </tr>
    <tr>
      <td class="col">HDBR0065</td>
      <td>9243</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0066</td>
      <td>9244</td>
    </tr>
    <tr>
      <td class="col">HDBR0067</td>
      <td>9245</td>
    </tr>
    <tr class="blue">
      <td class="collast">HDBR0068</td>
      <td class="last">9246</td>
    </tr>
    </tbody>
  </table>

  <a name="Crankcase"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Crankcase Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Crankcase Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="6" class="description">.188&quot; x .812&quot;<br>
		'57-'76 Sportster Right Side<br>
        '55-'57 Right Side
      </td>
      <td class="col">HDBR0073</td>
      <td>9421</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0040</td>
      <td>9422</td>
    </tr>
    <tr>
      <td class="col">HDBR0041</td>
      <td>9423</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0074</td>
      <td>9424</td>
    </tr>
    <tr>
      <td class="col">HDBR0042</td>
      <td>9425</td>
    </tr>
    <tr class="blue">
      <td class="collast">HDBR0043</td>
      <td class="last">9426</td>
    </tr>
    </tbody>
  </table>

  <a name="CrankcaseWheel"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Crankcase and Wheel Bearing Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Crankcase &amp; Wheel Bearing Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="7" class="description">.250&quot; x .500&quot;<br>
		'30-'57 Big Twin Left Case<br>
        '58-'86 Big Twin Right Case
      </td>
      <td class="col">HDBR0018</td>
      <td>9220A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0019</td>
      <td>9221A</td>
    </tr>
    <tr>
      <td class="col">HDBR0020</td>
      <td>9222A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0021</td>
      <td>9223A</td>
    </tr>
    <tr>
      <td class="col">HDBR0022</td>
      <td>9224A</td>
    </tr>
    <tr class="blue">
      <td class="col">HDBR0023</td>
      <td>9225A</td>
    </tr>
    <tr>
      <td class="collast">HDBR0063</td>
      <td class="last">9220+.002</td>
    </tr>
    </tbody>
  </table>

  <a name="ClutchHub"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Clutch Hub Rollers">
    <thead>
      <tr>
        <th class="title"><h2>Clutch Hub Rollers</h2></th>
        <th class="sonnax-no">Sonnax Part No.</th>
        <th class="oem-no">OEM Part No.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td class="description">'36-E'84 Big Twin
      </td>
      <td class="collast">HDBR0017</td>
      <td class="last">9540A</td>
    </tr>
    </tbody>
  </table>

  <a name="Engine"><h2>&nbsp;</h2></a>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Harley-Davidson Transmission and Engine Rollers">
    <thead>
      <tr>
        <th colspan="4"><h2>Transmission &amp; Engine Rollers</h2></th>
      </tr>
      <tr>
        <th>Sonnax Part No.</th>
        <th>OEM Part No.</th>
        <th>Description</th>
        <th>Application</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col">HDBB0010</td>
        <td class="col">8990A</td>
        <td class="col">Front Cam Ball Bearing</td>
        <td>Twin Cam '88</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0001</td>
        <td class="col">9057</td>
        <td class="col">Cam Gear Needle Bearing</td>
        <td>L'58-Later Sportster</td>
      </tr>
      <tr>
        <td class="col">HDNB0002</td>
        <td class="col">9058</td>
        <td class="col">Cam Gear Needle Bearing</td>
        <td>'58-'93 Big Twin</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0003</td>
        <td class="col">9063</td>
        <td class="col">Shaft Bearing, Outer</td>
        <td>'65-'88 Big Twin/'67-'80 Sportster</td>
      </tr>
      <tr>
        <td class="col">HDNB0004</td>
        <td class="col">35961-52</td>
        <td class="col">Countershaft Door Bearing</td>
        <td>'77-'85 Big Twin/'54-'90 XL</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0005</td>
        <td class="col">9020</td>
        <td class="col">Mainshaft Bearing</td>
        <td>'37-'86 Big Twin 4-Speed</td>
      </tr>
      <tr>
        <td class="col">HDNB0007</td>
        <td class="col">9062</td>
        <td class="col">Shaft Bearing, Inner</td>
        <td>'65-'88 Big Twin/'67-'80 Sportster</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0008</td>
        <td class="col">9088</td>
        <td class="col">Generator End Cover Bearing</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="col">HDNB0009</td>
        <td class="col">8905</td>
        <td class="col">Main Drive Gear Bearing</td>
        <td>L'77-'81 Big Twin</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0010</td>
        <td class="col">37312-75</td>
        <td class="col">Throw Out Needle Bearing</td>
        <td>'70-Later Big Twin</td>
      </tr>
      <tr>
        <td class="col">HDNB0011</td>
        <td class="col">37313-80</td>
        <td class="col">Throw Out Needle Bearing Race</td>
        <td>'70-Later Big Twin</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0015</td>
        <td class="col">8977</td>
        <td class="col">Countershaft Bearing, Left</td>
        <td>'80-'93 Big Twin</td>
      </tr>
      <tr>
        <td class="col">HDNB0020</td>
        <td class="col">24641-87</td>
        <td class="col">Pinion Bearing, Orange</td>
        <td>'87 Big Twin</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0021</td>
        <td class="col">24643-87</td>
        <td class="col">Pinion Bearing, Blue</td>
        <td>'87 Big Twin</td>
      </tr>
      <tr>
        <td class="col">HDNB0022</td>
        <td class="col">24626-87</td>
        <td class="col">Pinion Bearing, White</td>
        <td>'87 Big Twin</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0023</td>
        <td class="col">24628-87</td>
        <td class="col">Pinion Bearing, White</td>
        <td>'87 Big Twin</td>
      </tr>
      <tr>
        <td class="col">HDNB0027</td>
        <td class="col">9118</td>
        <td class="col">Case Bearing, Right</td>
        <td>L'84-'90 Sportster</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0028</td>
        <td class="col">9151</td>
        <td class="col">Drum Bearing</td>
        <td>'91 XL</td>
      </tr>
      <tr>
        <td class="col">HDNB0029</td>
        <td class="col">37722-52</td>
        <td class="col">Clutch Sprocket Needle Bearing</td>
        <td>'54-'70 Sportster</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0030</td>
        <td class="col">35960-54</td>
        <td class="col">Countershaft Case Bearing</td>
        <td>'54-'90 Sportster</td>
      </tr>
      <tr>
        <td class="col">HDNB0031</td>
        <td class="col">8876A</td>
        <td class="col">Transmission Gear Bearing</td>
        <td>'80-Later Big Twin, 5-Speed</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0038</td>
        <td class="col">9198</td>
        <td class="col">Twin Cam Inner Bearing</td>
        <td>'98-Later</td>
      </tr>
      <tr>
        <td class="col">HDNB0039</td>
        <td class="col">24346-87A</td>
        <td class="col">Rod Roller Retainer w/Rollers</td>
        <td>Big Twin</td>
      </tr>
    <tr class="blue">
        <td class="col">HDNB0042</td>
        <td class="col">9215</td>
        <td class="col">Cam Bearing</td>
        <td>'06 DYNA, '07-Later all Big Twin</td>
      </tr>
      <tr>
        <td class="col">HDTB0003</td>
        <td class="col">9052</td>
        <td class="col">Wheel Bearing w/Race</td>
        <td>'73-Later All Models</td>
      </tr>
    <tr class="blue">
        <td class="col">HDTB0006</td>
        <td class="col">48300-60</td>
        <td class="col">Fork Stem Bearing w/Race</td>
        <td>'49-Later Big Twin, '62-Later Sportster</td>
      </tr>
      <tr>
        <td class="collast">HD-RB-01K</td>
        <td class="collast">N/A</td>
        <td class="collast">Connecting Rod (press-together) Bearing Kit</td>
        <td class="last">Twin Cam '88</td>
      </tr>
    </tbody>
  </table>

</div>
