<h1>Product Lines</h1>
<p>Select a product line to access specific information about our products and how to order.</p>
<% if @product_lines.any? %>
  <ul class="product-lines">
  <% @product_lines.each do |product_line| %>
    <li><%= link_to product_line.name, product_line_path(product_line.url_friendly) %></li>
  <% end %>
  </ul>
<% else %>
<p>There are currently no product lines available.</p>
<% end %>