<div id="product-line" class="power-train-savers">

<h1>Power Train Savers<sup>&reg;</sup></h1>
<h4><a href="#Light">Light Duty</a>, <a href="#Medium">Medium Duty</a> and <a href="#Heavy">Heavy Duty</a></h4>
<p>For each Power Train Saver series, the following information is provided: driveline series, tube diameter and wall thickness, PTS unit part number, and Torque Fuse<sup>&reg;</sup> set recommendations.</p>
<p>Every PTS unit requires a Torque Fuse set (typically three fuse links); fuse set recommendations are provided for each PTS unit based on the torque capacity of the driveline series and driveshaft tube in which it will be installed. These recommendations allow buyers to choose fuse shear points based on three specific levels of protection:</p>
	<ul class="bullets">
    	<li class="bullets">Standard Protection is the recommended starting point for most applications.</li>
        <li class="bullets">Basic Protection uses driveshaft torque capacity as a protection-level target.</li>
        <li class="bullets">Maximum Protection aims at protecting weaker components such as differentials or gear boxes.</li>
    </ul>
<p>Your Sonnax sales representative can assist you with fuse set recommendations, particularly if differential protection is your primary concern.</p>
<p>Contact us for more information about bolt-in flanged units for industrial and marine usage, custom build options and heavy duty bearing-type units for unmanned applications. A towing disconnect coupler for heavy duty trucks is currently in development.</p>
<h4>Each Torque Fuse Set Contains 3 Torque Fuse Links</h4>


  <a name="Light"><h2>Light Duty Series</h2></a>
  <p>Fits 2" &amp; 2-1/2" driveshafts. Typically used for enthusiast or recreational vehicle applications (rock crawlers, sand rails, etc.) or
for industrial/agricultural uses such as pumps or PTO applications.</p>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Power Train Savers Light Duty Series">
    <thead>
    <tr>
    <th class="col" rowspan="2"><h3>Driveline Series</h3></th>
    <th class="col" rowspan="2"><h3>Tube Size O.D. x <br />Wall Thickness</h3></th>
    <th class="col" rowspan="2"><h3>Sonnax Part No.</h3></th>
    <th class="colLarge" colspan="4"><h3>Fuse ID Code and Torque Capacity <br />Protection Level Options</h3></th>
  </tr>
  <tr>
  	<th>&nbsp;</th>
    <th>Maximum</th>
    <th>Standard*</th>
    <th>Basic</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="3" class="series">1310, 7260, 3R</td>
    <td rowspan="3" class="series">2.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">20083B</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">1,500 ft-lb</td>
    <td class="capacity">1,750 ft-lb</td>
    <td class="capacity">2,000 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1500</td>
    <td class="capacity">1750</td>
    <td class="capacity">2000</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">1E</td>
    <td class="capacityBottom">1F</td>
    <td class="capacityBottom">1G</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1310, 1330, 1350, 7260, 3R</td>
    <td rowspan="3" class="series">2.00&quot; x .120&quot;</td>
    <td rowspan="3" class="series">20120B</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">2,250 ft-lb</td>
    <td class="capacity">2,500 ft-lb</td>
    <td class="capacity">2,750 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">2250</td>
    <td class="capacity">2500</td>
    <td class="capacity">2750</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">1H</td>
    <td class="capacityBottom">1I</td>
    <td class="capacityBottom">1J</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1310, 1330, 1350, 7260, 7290, 3R</td>
    <td rowspan="3" class="series">2.50&quot; x .083&quot;</td>
    <td rowspan="3" class="series">25083B</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">2,750 ft-lb</td>
    <td class="capacity">3,000 ft-lb</td>
    <td class="capacity">3,250 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">2750</td>
    <td class="capacity">3000</td>
    <td class="capacity">3250</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">1J</td>
    <td class="capacityBottom">1K</td>
    <td class="capacityBottom">1L</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1410</td>
    <td rowspan="3" class="series">2.50&quot; x .095&quot;</td>
    <td rowspan="3" class="series">25095B</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">3,000 ft-lb</td>
    <td class="capacity">3,250 ft-lb</td>
    <td class="capacity">3,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">3000</td>
    <td class="capacity">3250</td>
    <td class="capacity">3500</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">1K</td>
    <td class="capacityBottom">1L</td>
    <td class="capacityBottom">1M</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1310</td>
    <td rowspan="3" class="series">2.50&quot; x .120&quot;</td>
    <td rowspan="3" class="series">25120B</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,250 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">4000</td>
    <td class="capacity">4250</td>
    <td class="capacity">4500</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">1O</td>
    <td class="capacityBottom">1P</td>
    <td class="capacityBottom">1Q</td>
  </tr>
 </tbody>
</table>
<p class="note">*standard protection is the recommended starting point for
most applications. Basic Protection uses driveshaft torque
capacity as a protection level target. Maximum Protection
aims at protecting weaker components such as differentials
or gear boxes.</p>

  <a name="Medium"><h2>&nbsp;</h2></a>
  <h2>Medium Duty Series</h2>
  Fits 3", 3-1/2" &amp; 4" driveshafts. Typically used on single axle, light and medium duty trucks
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Power Train Savers Medium Duty Series">
    <thead>
    <tr>
    <th class="col" rowspan="2"><h3>Driveline Series</h3></th>
    <th class="col" rowspan="2"><h3>Tube Size O.D. x <br />Wall Thickness</h3></th>
    <th class="col" rowspan="2"><h3>Sonnax Part No.</h3></th>
    <th class="colLarge" colspan="4"><h3>Fuse ID Code and Torque Capacity <br />Protection Level Options</h3></th>
  </tr>
  <tr>
  	<th>&nbsp;</th>
    <th>Maximum</th>
    <th>Standard*</th>
    <th>Basic</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="3" class="series">1310</td>
    <td rowspan="3" class="series">3.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">30083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">3,500 ft-lb</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0035</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">3</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1330</td>
    <td rowspan="3" class="series">3.50&quot; x .083&quot;</td>
    <td rowspan="3" class="series">35083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
    <td class="capacity">5,000 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
    <td class="capacity">0050</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
    <td class="capacityBottom">6</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1330</td>
    <td rowspan="3" class="series">4.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">40083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
    <td class="capacity">5,000 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
    <td class="capacity">0050</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
    <td class="capacityBottom">6</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1350</td>
    <td rowspan="3" class="series">3.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">30083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">3,500 ft-lb</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
    <td class="capacity">0050</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">3</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1350</td>
    <td rowspan="3" class="series">3.50&quot; x .083&quot;</td>
    <td rowspan="3" class="series">35083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
    <td class="capacity">5,000 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
    <td class="capacity">0050</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
    <td class="capacityBottom">6</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1350</td>
    <td rowspan="3" class="series">4.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">40083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
    <td class="capacity">5,000 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
    <td class="capacity">0050</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
    <td class="capacityBottom">6</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1410</td>
    <td rowspan="3" class="series">3.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">30083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">3,500 ft-lb</td>
    <td class="capacity">4,000 ft-lb</td>
    <td class="capacity">4,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0035</td>
    <td class="capacity">0040</td>
    <td class="capacity">0045</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">3</td>
    <td class="capacityBottom">4</td>
    <td class="capacityBottom">5</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1410</td>
    <td rowspan="3" class="series">3.50&quot; x .083&quot;</td>
    <td rowspan="3" class="series">35083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">5,000 ft-lb</td>
    <td class="capacity">5,500 ft-lb</td>
    <td class="capacity">6,000 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0050</td>
    <td class="capacity">0055</td>
    <td class="capacity">0060</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">6</td>
    <td class="capacityBottom">7</td>
    <td class="capacityBottom">8</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1410</td>
    <td rowspan="3" class="series">4.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">40083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">5,000 ft-lb</td>
    <td class="capacity">5,500 ft-lb</td>
    <td class="capacity">6,000 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0050</td>
    <td class="capacity">0055</td>
    <td class="capacity">0060</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">6</td>
    <td class="capacityBottom">7</td>
    <td class="capacityBottom">8</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1480</td>
    <td rowspan="3" class="series">3.50&quot; x .083&quot;</td>
    <td rowspan="3" class="series">35083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">5,500 ft-lb</td>
    <td class="capacity">6,000 ft-lb</td>
    <td class="capacity">6,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0055</td>
    <td class="capacity">0060</td>
    <td class="capacity">0065</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">7</td>
    <td class="capacityBottom">8</td>
    <td class="capacityBottom">9</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1480</td>
    <td rowspan="3" class="series">4.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">40083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">6,000 ft-lb</td>
    <td class="capacity">6,500 ft-lb</td>
    <td class="capacity">7,000 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0060</td>
    <td class="capacity">0065</td>
    <td class="capacity">0070</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">8</td>
    <td class="capacityBottom">9</td>
    <td class="capacityBottom">10</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1550</td>
    <td rowspan="3" class="series">3.50&quot; x .083&quot;</td>
    <td rowspan="3" class="series">35095</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">7,000 ft-lb</td>
    <td class="capacity">7,500 ft-lb</td>
    <td class="capacity">8,000 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0070</td>
    <td class="capacity">0075</td>
    <td class="capacity">0080</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">10</td>
    <td class="capacityBottom">11</td>
    <td class="capacityBottom">12</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1550</td>
    <td rowspan="3" class="series">4.00&quot; x .083&quot;</td>
    <td rowspan="3" class="series">40083</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">7,000 ft-lb</td>
    <td class="capacity">7,500 ft-lb</td>
    <td class="capacity">8,000 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">0070</td>
    <td class="capacity">0075</td>
    <td class="capacity">0080</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">10</td>
    <td class="capacityBottom">11</td>
    <td class="capacityBottom">12</td>
  </tr>
  <tr class="blue">
    <td class="series">1550</td>
    <td class="series">4.00&quot; x .083&quot;</td>
    <td class="series">40180</td>
    <td colspan="4" class="midBottom">Call Sonnax for 40180 fuse recommendations</td>
  </tr>
  </tbody>
</table>
<p class="note">*Standard protection is the recommended starting point for most
applications. Basic Protection uses driveshaft torque capacity as a
protection level target. Maximum Protection aims at protecting
weaker components such as differentials or gear boxes.</p>

  <a name="Heavy"><h2>&nbsp;</h2></a>
  <h2>Heavy Duty Series</h2>
Primarily used on multi-axle, Class 6, 7 &amp; 8 trucks
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Power Train Savers Heavy Duty Series">
    <thead>
    <tr>
    <th class="col" rowspan="2"><h3>Driveline Series</h3></th>
    <th class="col" rowspan="2"><h3>Tube Size O.D. x <br />Wall Thickness</h3></th>
    <th class="col" rowspan="2"><h3>Sonnax Part No.</h3></th>
    <th class="colLarge" colspan="4"><h3>Fuse ID Code and Torque Capacity <br />Protection Level Options</h3></th>
  </tr>
  <tr>
  	<th>&nbsp;</th>
    <th>Maximum</th>
    <th>Standard*</th>
    <th>Basic</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="3" class="series">1550</td>
    <td rowspan="3" class="series">4.00&quot; x .095&quot;</td>
    <td rowspan="3" class="series">15095</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">5,500 ft-lb</td>
    <td class="capacity">6,500 ft-lb</td>
    <td class="capacity">7,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1005</td>
    <td class="capacity">1006</td>
    <td class="capacity">1007</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">F</td>
    <td class="capacityBottom">G</td>
    <td class="capacityBottom">H</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1610</td>
    <td rowspan="3" class="series">3.50&quot; x .134&quot;</td>
    <td rowspan="3" class="series">16134</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">7,500 ft-lb</td>
    <td class="capacity">8,500 ft-lb</td>
    <td class="capacity">9,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1007</td>
    <td class="capacity">1008</td>
    <td class="capacity">1009</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">H</td>
    <td class="capacityBottom">I</td>
    <td class="capacityBottom">J</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1610 &amp; 1710</td>
    <td rowspan="3" class="series">4.00&quot; x .134&quot;</td>
    <td rowspan="3" class="series">17180</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">10,500 ft-lb</td>
    <td class="capacity">11,500 ft-lb</td>
    <td class="capacity">12,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1010</td>
    <td class="capacity">1011</td>
    <td class="capacity">1012</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">K</td>
    <td class="capacityBottom">L</td>
    <td class="capacityBottom">M</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1710</td>
    <td rowspan="3" class="series">4.00&quot; x .180&quot;</td>
    <td rowspan="3" class="series">17180</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">14,500 ft-lb</td>
    <td class="capacity">15,500 ft-lb</td>
    <td class="capacity">16,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1014</td>
    <td class="capacity">1015</td>
    <td class="capacity">1016</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">O</td>
    <td class="capacityBottom">P</td>
    <td class="capacityBottom">Q</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1760</td>
    <td rowspan="3" class="series">4.00&quot; x .180&quot;</td>
    <td rowspan="3" class="series">17180</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">15,500 ft-lb</td>
    <td class="capacity">16,500 ft-lb</td>
    <td class="capacity">17,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1015</td>
    <td class="capacity">1016</td>
    <td class="capacity">1017</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">P</td>
    <td class="capacityBottom">Q</td>
    <td class="capacityBottom">R</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1810</td>
    <td rowspan="3" class="series">4.00&quot; x .134&quot;</td>
    <td rowspan="3" class="series">18134</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">15,500 ft-lb</td>
    <td class="capacity">16,500 ft-lb</td>
    <td class="capacity">17,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1015</td>
    <td class="capacity">1016</td>
    <td class="capacity">1017</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">P</td>
    <td class="capacityBottom">Q</td>
    <td class="capacityBottom">R</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1810</td>
    <td rowspan="3" class="series">4.59&quot; x .180&quot;</td>
    <td rowspan="3" class="series">18134</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">19,500 ft-lb</td>
    <td class="capacity">20,500 ft-lb</td>
    <td class="capacity">21,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1019</td>
    <td class="capacity">1020</td>
    <td class="capacity">1021</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">T</td>
    <td class="capacityBottom">U</td>
    <td class="capacityBottom">V</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">1810</td>
    <td rowspan="3" class="series">4.50&quot; x .259&quot;</td>
    <td rowspan="3" class="series">18259</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">19,500 ft-lb</td>
    <td class="capacity">20,500 ft-lb</td>
    <td class="capacity">21,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1019</td>
    <td class="capacity">1020</td>
    <td class="capacity">1021</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">T</td>
    <td class="capacityBottom">U</td>
    <td class="capacityBottom">V</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">1880</td>
    <td rowspan="3" class="series">4.50&quot; x .259&quot;</td>
    <td rowspan="3" class="series">18259</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">23,500 ft-lb</td>
    <td class="capacity">24,500 ft-lb</td>
    <td class="capacity">25,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1023</td>
    <td class="capacity">1024</td>
    <td class="capacity">1025</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">X</td>
    <td class="capacityBottom">Y</td>
    <td class="capacityBottom">Z</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">SPLTM 140</td>
    <td rowspan="3" class="series">4.21&quot; x .138&quot;</td>
    <td rowspan="3" class="series">SP138</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">12,500 ft-lb</td>
    <td class="capacity">13,500 ft-lb</td>
    <td class="capacity">14,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1012</td>
    <td class="capacity">1013</td>
    <td class="capacity">1014</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">M</td>
    <td class="capacityBottom">N</td>
    <td class="capacityBottom">O</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">SPLTM 170</td>
    <td rowspan="3" class="series">4.96&quot; x .120&quot;</td>
    <td rowspan="3" class="series">SP165</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">15,500 ft-lb</td>
    <td class="capacity">16,500 ft-lb</td>
    <td class="capacity">17,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1015</td>
    <td class="capacity">1016</td>
    <td class="capacity">1017</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">P</td>
    <td class="capacityBottom">Q</td>
    <td class="capacityBottom">R</td>
  </tr>
  <tr class="blue">
    <td rowspan="3" class="series">SPLTM 170</td>
    <td rowspan="3" class="series">4.72&quot; x .197&quot;</td>
    <td rowspan="3" class="series">SP197</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">17,500 ft-lb</td>
    <td class="capacity">18,500 ft-lb</td>
    <td class="capacity">19,500 ft-lb</td>
  </tr>
  <tr class="blue">
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1017</td>
    <td class="capacity">1018</td>
    <td class="capacity">1019</td>
  </tr>
  <tr class="blue">
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">R</td>
    <td class="capacityBottom">S</td>
    <td class="capacityBottom">T</td>
  </tr>
  <tr>
    <td rowspan="3" class="series">SPLTM 250</td>
    <td rowspan="3" class="series">5.06&quot; x .165&quot;</td>
    <td rowspan="3" class="series">SP165</td>
    <td class="mid">Torque Capacity</td>
    <td class="capacity">20,500 ft-lb</td>
    <td class="capacity">21,500 ft-lb</td>
    <td class="capacity">22,500 ft-lb</td>
  </tr>
  <tr>
  	<td class="mid">Fuse Set Part No.</td>
    <td class="capacity">1020</td>
    <td class="capacity">1021</td>
    <td class="capacity">1022</td>
  </tr>
  <tr>
  	<td class="midBottom">Fuse ID Stamp</td>
    <td class="capacityBottom">U</td>
    <td class="capacityBottom">V</td>
    <td class="capacityBottom">W</td>
  </tr>



</table>
<p class="note">*Standard protection is the recommended starting point for most
applications. Basic Protection uses driveshaft torque capacity as a
protection level target. Maximum Protection aims at protecting
weaker components such as differentials or gear boxes.</p>
</div>
