<div id="product-line" class="ring-gears">
  <div id="col-1">
    <%= image_tag('ringgear.jpg', :width => 365, :height => 398, :alt => 'Ring Gears') %>
  </div>
  
  <div id="col-2">
    <h1><%= @product_line.name %></h1>
    <div class="description">
      <p>Sonnax ring gears are available for common automotive flexplate and flywheel applications as well as for torque converter applications. They are manufactured in compliance with Sonnax designs, precisely formed and heat-treated, and machined on the faces to eliminate the undesirable stress concentrations found in many "pressed" rings.</p>
    </div>
    
    <ul>
      <li><%= link_to 'Ring Gears Part Finder', product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= mail_to 'webrg@sonnax.com', 'Email for Quote and Information', :class => 'email' %></li>
    </ul>
  </div>
</div>
