<div id="product-line" class="ring-gears">
<h1>Ring Gears</h1>
<h4><a href="#Flywheel">Stock Flywheel/Flexplate</a>, <a href="#TC">Stock Torque Converter</a> and <a href="#Special">Special Order</a></h4>
  <a name="Flywheel"><h2>&nbsp;</h2></a>
  <h2>Stock Flywheel/Flexplate Ring Gears</h2>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Stock Flywheel/Flexplate Ring Gears">
    <thead>
      <tr>
        <th>Sonnax Part No.</th>
        <th>Application</td>
        <th>OEM Ref. No.</th>
        <th>No. of Teeth</th>
        <th class="number">Outer Dia. (inches)</th>
        <th class="number">Inner Dia. (inches)</th>
        <th class="number">Thickness (inches)</th>
        <th>DP / Module</th>
        <th class="end">Chamfer</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>SRG-104A12</td>
      <td>Antique Austin 1275</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">10.433</td>
      <td class="number">9.289</td>
      <td class="number">0.504</td>
      <td width="87">10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-109CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>109</td>
      <td class="number">11.108</td>
      <td class="number">9.930</td>
      <td class="number">0.355</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-620</td>
      <td>Toyota</td>
      <td>13453-10010</td>
      <td>106</td>
      <td class="number">10.681</td>
      <td class="number">9.325</td>
      <td class="number">0.355</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-112CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>112</td>
      <td class="number">11.324</td>
      <td class="number">10.208</td>
      <td class="number">0.353</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-112S</td>
      <td>&nbsp;</td>
      <td>RG396</td>
      <td>112</td>
      <td class="number">14.170</td>
      <td class="number">12.431</td>
      <td class="number">0.366</td>
      <td>8 / 10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-114A</td>
      <td>Mitsubishi</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">11.513</td>
      <td class="number">10.500</td>
      <td class="number">0.039</td>
      <td>10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-608</td>
      <td>Toyota</td>
      <td>13453-20010</td>
      <td>115</td>
      <td class="number">11.588</td>
      <td class="number">10.206</td>
      <td class="number">0.350</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-115N</td>
      <td>Nissan</td>
      <td>&nbsp;</td>
      <td>115</td>
      <td class="number">11.615</td>
      <td class="number">10.356</td>
      <td class="number">0.473</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-116FT</td>
      <td>GM Diesel</td>
      <td>&nbsp;</td>
      <td>116</td>
      <td class="number">13.928</td>
      <td class="number">12.678</td>
      <td class="number">0.600</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-117TR</td>
      <td>TR250/5/6</td>
      <td>201350</td>
      <td>117</td>
      <td class="number">11.835</td>
      <td class="number">10.619</td>
      <td class="number">0.500</td>
      <td>10</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-119CT</td>
      <td>Honda</td>
      <td>&nbsp;</td>
      <td>119</td>
      <td class="number">12.047</td>
      <td class="number">11.101</td>
      <td class="number">0.354</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-120X</td>
      <td>Industrial</td>
      <td>&nbsp;</td>
      <td>120</td>
      <td class="number">11.998</td>
      <td class="number">10.963</td>
      <td class="number">0.433</td>
      <td>10</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-634</td>
      <td>Nissan-Datsun</td>
      <td>12312-61000<br />12312-A8600</td>
      <td>120</td>
      <td class="number">12.051</td>
      <td class="number">10.780</td>
      <td class="number">0.475</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-124A</td>
      <td>Subaru</td>
      <td>&nbsp;</td>
      <td>124</td>
      <td class="number">12.376</td>
      <td class="number">11.381</td>
      <td class="number">0.433</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-124N</td>
      <td>Nissan</td>
      <td>12312-26E00</td>
      <td>124</td>
      <td class="number">12.376</td>
      <td class="number">11.381</td>
      <td class="number">0.433</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-129</td>
      <td>Saturn</td>
      <td>&nbsp;</td>
      <td>129</td>
      <td class="number">10.927</td>
      <td class="number">10.080</td>
      <td class="number">0.425</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-130RRG</td>
      <td>BMW M5</td>
      <td>&nbsp;</td>
      <td>130</td>
      <td class="number">13.049</td>
      <td class="number">11.859</td>
      <td class="number">0.922</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-130T</td>
      <td>Chrysler</td>
      <td>1941648</td>
      <td>130</td>
      <td class="number">13.205</td>
      <td class="number">12.169</td>
      <td class="number">0.375</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-130V</td>
      <td>Volkswagen</td>
      <td>311-105-271</td>
      <td>130</td>
      <td class="number">11.067</td>
      <td class="number">9.484</td>
      <td class="number">0.393</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-132AST</td>
      <td>Volkswagen</td>
      <td>&nbsp;</td>
      <td>132</td>
      <td class="number">11.067</td>
      <td class="number">9.985</td>
      <td class="number">0.395</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-132E</td>
      <td>Ford</td>
      <td>D4FZ-6384A</td>
      <td>132</td>
      <td class="number">11.264</td>
      <td class="number">10.149</td>
      <td class="number">0.365</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-135A</td>
      <td>Ford</td>
      <td>D12P-6384A</td>
      <td>135</td>
      <td class="number">11.301</td>
      <td class="number">10.405</td>
      <td class="number">0.365</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-138RY</td>
      <td>Ford</td>
      <td>D2RY-6384A</td>
      <td>138</td>
      <td class="number">11.650</td>
      <td class="number">10.481</td>
      <td class="number">0.375</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-139CHN</td>
      <td>Chrysler</td>
      <td>&nbsp;</td>
      <td>139</td>
      <td class="number">11.780</td>
      <td class="number">10.833</td>
      <td class="number">0.388</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-139G</td>
      <td>GM</td>
      <td>14077156/14022676</td>
      <td>139</td>
      <td class="number">14.140</td>
      <td class="number">13.280</td>
      <td class="number">0.453</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-141FT</td>
      <td>Ford 6.0L Diesel</td>
      <td>&nbsp;</td>
      <td>141</td>
      <td class="number">14.263</td>
      <td class="number">13.167</td>
      <td class="number">0.512</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-142W</td>
      <td>GM</td>
      <td>359115</td>
      <td>142</td>
      <td class="number">11.919</td>
      <td class="number">11.098</td>
      <td class="number">0.453</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-143N</td>
      <td>Dodge</td>
      <td>2843214</td>
      <td>143</td>
      <td class="number">14.579</td>
      <td class="number">13.571</td>
      <td class="number">0.340</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-152FT</td>
      <td>Cummins</td>
      <td>&nbsp;</td>
      <td>152</td>
      <td class="number">15.356</td>
      <td class="number">14.414</td>
      <td class="number">0.561</td>
      <td>10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-153N</td>
      <td>GM</td>
      <td>3789821</td>
      <td>153</td>
      <td class="number">12.845</td>
      <td class="number">12.012</td>
      <td class="number">0.440</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-153NSPL</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>153</td>
      <td class="number">12.845</td>
      <td class="number">11.225</td>
      <td class="number">0.440</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-153NTN</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>153</td>
      <td class="number">12.845</td>
      <td class="number">12.012</td>
      <td class="number">0.300</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-155FT</td>
      <td>Ford</td>
      <td>E5TZ-63848</td>
      <td>155</td>
      <td class="number">15.693</td>
      <td class="number">14.495</td>
      <td class="number">0.500</td>
      <td>10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-157N</td>
      <td>Ford</td>
      <td>CT0P-6384A</td>
      <td>157</td>
      <td class="number">13.304</td>
      <td class="number">12.034</td>
      <td class="number">0.660</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-162M</td>
      <td>Studebaker</td>
      <td>&nbsp;</td>
      <td>162</td>
      <td class="number">13.603</td>
      <td class="number">12.115</td>
      <td class="number">0.360</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-164A</td>
      <td>AMC</td>
      <td>3179741</td>
      <td>164</td>
      <td class="number">13.840</td>
      <td class="number">12.833</td>
      <td class="number">0.420</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-164N</td>
      <td>Ford</td>
      <td>&nbsp;</td>
      <td>164</td>
      <td class="number">14.236</td>
      <td class="number">12.965</td>
      <td class="number">0.375</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-166A</td>
      <td>GM</td>
      <td>313812 / 278328</td>
      <td>166</td>
      <td class="number">13.889</td>
      <td class="number">12.915</td>
      <td class="number">0.571</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-168S</td>
      <td>GM</td>
      <td>460583 / 3889694</td>
      <td>168</td>
      <td class="number">14.105</td>
      <td class="number">13.276</td>
      <td class="number">0.440</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-176B</td>
      <td>Ford</td>
      <td>C9AZ-6384C</td>
      <td>176</td>
      <td class="number">15.533</td>
      <td class="number">14.523</td>
      <td class="number">0.512</td>
      <td>2.25m</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-180W</td>
      <td>Ford</td>
      <td>D7TZ-6384</td>
      <td>180</td>
      <td class="number">15.524</td>
      <td class="number">14.529</td>
      <td class="number">0.440</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-184T</td>
      <td>Ford</td>
      <td>C5AZ-6384A</td>
      <td>184</td>
      <td class="number">15.515</td>
      <td class="number">14.221</td>
      <td class="number">0.375</td>
      <td>12 / 14</td>
      <td class="end">None</td>
    </tr>
    </tbody>
  </table>
  
  <a name="TC"><h2>&nbsp;</h2></a>
  <h2>Stock Torque Converter Ring Gears</h2>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Stock Torque Converter Ring Gears">
    <thead>
    <tr>
    	<th>Sonnax Part No.</th>
        <th>Application</td>
        <th>OEM Ref. No.</th>
        <th>No. of Teeth</th>
        <th class="number">Outer Dia. (inches)</th>
        <th class="number">Inner Dia. (inches)</th>
        <th class="number">Thickness (inches)</th>
        <th>DP / Module</th>
        <th class="end">Chamfer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>HO-RG-103</td>
      <td>Honda, 3 &amp; 4 Speed</td>
      <td>&nbsp;</td>
      <td>103</td>
      <td class="number">10.472</td>
      <td class="number">9.606</td>
      <td class="number">0.354</td>
      <td width="87">10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>MT-RG-106</td>
      <td>Mitsubishi KM 175, 176, 177 Colt, Excel, Hyundai</td>
      <td>MD 030629</td>
      <td>106</td>
      <td class="number">10.709</td>
      <td class="number">9.646</td>
      <td class="number">0.335</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>HO-RG-107</td>
      <td>Honda L-15, L-16, S-16</td>
      <td>&nbsp;</td>
      <td>107</td>
      <td class="number">10.748</td>
      <td class="number">9.606</td>
      <td class="number">0.354</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>MT-RG-110</td>
      <td>Mitsubishi, F4A33, Late</td>
      <td>ME 012509</td>
      <td>110</td>
      <td class="number">11.071</td>
      <td class="number">9.618</td>
      <td class="number">0.325</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>HO-RG-114A</td>
      <td>Honda, '86-Up Legend/Sterling    (Narrow Version)</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">11.535</td>
      <td class="number">10.492</td>
      <td class="number">0.374</td>
      <td>10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>CH-RG-122</td>
      <td>Chrysler 10-3/4" (LU &amp; NLU)    TF6/905, A500</td>
      <td>&nbsp;</td>
      <td>122</td>
      <td class="number">12.276</td>
      <td class="number">11.190</td>
      <td class="number">0.35</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>VW-RG-125C</td>
      <td>Volkswagen 01M</td>
      <td>&nbsp;</td>
      <td>125</td>
      <td class="number">10.597</td>
      <td class="number">9.226</td>
      <td class="number">0.384</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>CH-RG-130</td>
      <td>Chrysler 10-3/4" (LU, Wide    Version) TF8/727, A500, A518</td>
      <td>&nbsp;</td>
      <td>131</td>
      <td class="number">13.195</td>
      <td class="number">11.190</td>
      <td class="number">0.34</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>CH-RG-130T</td>
      <td>Chrysler 10-3/4" (Thin Version)    TF8/727</td>
      <td>&nbsp;</td>
      <td>131</td>
      <td class="number">13.195</td>
      <td class="number">12.162</td>
      <td class="number">0.375</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>FD-RG-132</td>
      <td>Ford C4, 10-1/4"</td>
      <td>&nbsp;</td>
      <td>132</td>
      <td class="number">11.157</td>
      <td class="number">10.309</td>
      <td class="number">0.365</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>BW-RG-146</td>
      <td>Borg-Warner Bolted Aluminum Pre-1960    Ford Trucks</td>
      <td>&nbsp;</td>
      <td>146</td>
      <td class="number">14.807</td>
      <td class="number">13.812</td>
      <td class="number">0.37</td>
      <td>10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>CI-RG-146XF</td>
      <td>Chrysler 331 V8, (1951-58)</td>
      <td>&nbsp;</td>
      <td>146</td>
      <td class="number">14.640</td>
      <td class="number">13.560</td>
      <td class="number">0.375</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    </tbody>
  </table>
  
  <a name="Special"><h2>&nbsp;</h2></a>
  <h2>Special Order Ring Gears - Flywheel/Flexplate &amp; Torque Converter</h2>
  <table class="static" width="100%" cellpadding="0" cellspacing="0" summary="Special Order Ring Gears - Flywheel/Flexplate Torque Converter">
    <thead>
    <tr>
    	<th>Sonnax Part No.</th>
        <th>Application</td>
        <th>OEM Ref. No.</th>
        <th>No. of Teeth</th>
        <th class="number">Outer Dia. (inches)</th>
        <th class="number">Inner Dia. (inches)</th>
        <th class="number">Thickness (inches)</th>
        <th>DP / Module</th>
        <th class="end">Chamfer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>SRG-90TR</td>
      <td>TR4A/4/4A</td>
      <td>&nbsp;</td>
      <td>90</td>
      <td class="number">11.519</td>
      <td class="number">9.943</td>
      <td class="number">0.498</td>
      <td width="59">8 / 10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-91TR</td>
      <td>TR2/2/3A</td>
      <td>&nbsp;</td>
      <td>91</td>
      <td class="number">11.603</td>
      <td class="number">10.638</td>
      <td class="number">0.500</td>
      <td width="59">8</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-93TC</td>
      <td>MG TC</td>
      <td>&nbsp;</td>
      <td>93</td>
      <td class="number">11.781</td>
      <td class="number">10.343</td>
      <td class="number">0.493</td>
      <td width="59">8 / 10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-102W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>102</td>
      <td class="number">10.326</td>
      <td class="number">9.499</td>
      <td class="number">0.331</td>
      <td width="59">10 / 12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-103T</td>
      <td>Cummins</td>
      <td>4797</td>
      <td>103</td>
      <td class="number">17.398</td>
      <td class="number">16.008</td>
      <td class="number">0.872</td>
      <td width="59">6 / 8</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-104A10</td>
      <td>Austin 948</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">10.447</td>
      <td class="number">9.291</td>
      <td class="number">0.506</td>
      <td width="59">10</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-104A9</td>
      <td>Austin 948</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">10.426</td>
      <td class="number">9.165</td>
      <td class="number">0.469</td>
      <td width="59">10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-104HME</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">10.562</td>
      <td class="number">9.260</td>
      <td class="number">0.494</td>
      <td width="59">10 / 12</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-104J</td>
      <td>Antique 3.8mk</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">13.180</td>
      <td class="number">12.008</td>
      <td class="number">0.494</td>
      <td width="59">8 / 10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-105</td>
      <td>Nissan</td>
      <td>12312-61A00</td>
      <td>105</td>
      <td class="number">10.754</td>
      <td class="number">9.433</td>
      <td class="number">0.395</td>
      <td width="59">10</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-105G</td>

      <td>Datsun</td>
      <td>12312-1800</td>
      <td>105</td>
      <td class="number">10.668</td>
      <td class="number">9.458</td>
      <td class="number">0.394</td>
      <td width="59">10 / 12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-105L</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>105</td>
      <td class="number">10.668</td>
      <td class="number">9.458</td>
      <td class="number">0.394</td>
      <td width="59">10 / 12</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-106A3</td>
      <td>AH100/4, 3000</td>
      <td>&nbsp;</td>
      <td>106</td>
      <td class="number">13.329</td>
      <td class="number">12.010</td>
      <td class="number">0.626</td>
      <td width="59">8 / 10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-106W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>106</td>
      <td class="number">10.682</td>
      <td class="number">9.671</td>
      <td class="number">0.325</td>
      <td width="59">10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-108N</td>
      <td>Nissan</td>
      <td>12312-62J00</td>
      <td>108</td>
      <td class="number">11.084</td>
      <td class="number">9.887</td>
      <td class="number">0.404</td>
      <td width="59">10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-108SPL</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>108</td>
      <td class="number">9.166</td>
      <td class="number">8.076</td>
      <td class="number">0.466</td>
      <td width="59">12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-108WSPL</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>108</td>
      <td class="number">9.170</td>
      <td class="number">8.069</td>
      <td class="number">0.467</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-110W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>110</td>
      <td class="number">11.082</td>
      <td class="number">9.670</td>
      <td class="number">0.385</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-112F</td>
      <td>Ford/Mazda</td>
      <td>D27Z-6834-A</td>
      <td>112</td>
      <td class="number">11.363</td>
      <td class="number">10.226</td>
      <td class="number">0.361</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-112NR</td>
      <td>Mercury</td>
      <td>8BA6384A</td>
      <td>112</td>
      <td class="number">14.192</td>
      <td class="number">12.874</td>
      <td class="number">0.364</td>
      <td width="59">8 / 10</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-113</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>113</td>
      <td class="number">11.355</td>
      <td class="number">10.244</td>
      <td class="number">0.364</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-113HME</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>113</td>
      <td class="number">11.460</td>
      <td class="number">10.502</td>
      <td class="number">0.494</td>
      <td width="59">10 / 12</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>HO-RG-114</td>
      <td>Honda, '91 Acura Integra - TC</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">11.535</td>
      <td class="number">10.039</td>
      <td class="number">0.374</td>
      <td width="59">10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>HO-RG-114B</td>
      <td>Honda Accord, '94-Up Acura, Integra '90-'91 - TC</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">11.378</td>
      <td class="number">9.606</td>
      <td class="number">0.354</td>
      <td width="59">10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-120TF</td>
      <td>MG TF Late</td>
      <td>&nbsp;</td>
      <td>120</td>
      <td class="number">12.112</td>
      <td class="number">10.743</td>
      <td class="number">0.500</td>
      <td>10</td>
      <td class="end">LH</td>
    </tr>
    <tr class="blue">
      <td>SRG-120MGA</td>
      <td>Antique MG A/B</td>
      <td>&nbsp;</td>
      <td>120</td>
      <td class="number">12.031</td>
      <td class="number">10.796</td>
      <td class="number">0.625</td>
      <td width="59">10 / 12</td>
      <td class="end">LH</td>
    </tr>
    <tr>
      <td>SRG-122CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>122</td>
      <td class="number">12.329</td>
      <td class="number">11.110</td>
      <td class="number">0.355</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-122T</td>
      <td>Chrysler</td>
      <td>2121196</td>
      <td>122</td>
      <td class="number">12.285</td>
      <td class="number">11.198</td>
      <td class="number">0.350</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-122W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>122</td>
      <td class="number">15.442</td>
      <td class="number">14.326</td>
      <td class="number">0.688</td>
      <td width="59">8 / 10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-123CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>123</td>
      <td class="number">12.431</td>
      <td class="number">11.486</td>
      <td class="number">0.355</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-124</td>
      <td>Nissan 350Z</td>
      <td>12312-26E00</td>
      <td>124</td>
      <td class="number">12.449</td>
      <td class="number">11.309</td>
      <td class="number">0.472</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-125</td>
      <td>Nissan Spec-V Altima</td>
      <td>&nbsp;</td>
      <td>125</td>
      <td class="number">12.570</td>
      <td class="number">11.309</td>
      <td class="number">0.400</td>
      <td>10</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-125C</td>
      <td>Volkswagen</td>
      <td>055-105-275</td>
      <td>125</td>
      <td class="number">10.603</td>
      <td class="number">9.865</td>
      <td class="number">0.315</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>VW-RG-125</td>
      <td>Volkswagen Passat - TC</td>
      <td>&nbsp;</td>
      <td>125</td>
      <td class="number">10.551</td>
      <td class="number">9.134</td>
      <td class="number">0.315</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-126F</td>
      <td>Perkins</td>
      <td>410276</td>
      <td>126</td>
      <td class="number">15.930</td>
      <td class="number">14.826</td>
      <td class="number">0.688</td>
      <td width="59">8 / 10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-127D</td>
      <td>Cummins</td>
      <td>9340</td>
      <td>127</td>
      <td class="number">16.040</td>
      <td class="number">15.010</td>
      <td class="number">0.747</td>
      <td width="59">8 / 10</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-127MGB</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>127</td>
      <td class="number">12.764</td>
      <td class="number">11.515</td>
      <td class="number">0.384</td>
      <td width="59">10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-129W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>129</td>
      <td class="number">12.938</td>
      <td class="number">10.987</td>
      <td class="number">0.374</td>
      <td width="59">10 / 12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-132M</td>
      <td>Mitsubishi</td>
      <td>14500</td>
      <td>132</td>
      <td class="number">13.259</td>
      <td class="number">10.980</td>
      <td class="number">0.411</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-133J</td>
      <td>4.2 JAG</td>
      <td>&nbsp;</td>
      <td>133</td>
      <td class="number">13.343</td>
      <td class="number">11.998</td>
      <td class="number">0.504</td>
      <td width="59">10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-133MB</td>
      <td>Mercedes</td>
      <td>&nbsp;</td>
      <td>133</td>
      <td class="number">15.913</td>
      <td class="number">14.175</td>
      <td class="number">0.624</td>
      <td>3m</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-133MGC</td>
      <td>MGC</td>
      <td>&nbsp;</td>
      <td>133</td>
      <td class="number">13.546</td>
      <td class="number">12.313</td>
      <td class="number">0.630</td>
      <td>10</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-135C</td>
      <td>Oldsmobile</td>
      <td>559275</td>
      <td>135</td>
      <td class="number">13.715</td>
      <td class="number">12.467</td>
      <td class="number">0.424</td>
      <td width="59">10 / 12</td>
      <td class="end">RH</td>
    </tr>
    <tr class="blue">
      <td>SRG-138P</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>138</td>
      <td class="number">11.664</td>
      <td class="number">10.377</td>
      <td class="number">0.396</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-139A</td>
      <td>Chrysler</td>
      <td>5222789</td>
      <td>139</td>
      <td class="number">11.776</td>
      <td class="number">10.831</td>
      <td class="number">0.331</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-139CF</td>
      <td>GM</td>
      <td>833177 / 496968</td>
      <td>139</td>
      <td class="number">14.026</td>
      <td class="number">13.070</td>
      <td class="number">0.500</td>
      <td width="59">10 / 12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-147B</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>147</td>
      <td class="number">12.349</td>
      <td class="number">10.725</td>
      <td class="number">0.315</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-148S</td>
      <td>Ford</td>
      <td>B8A-6375D</td>
      <td>148</td>
      <td class="number">15.018</td>
      <td class="number">14.023</td>
      <td class="number">0.370</td>
      <td width="59">10 / 12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-148T</td>
      <td>Chrysler</td>
      <td>2121195</td>
      <td>148</td>
      <td class="number">12.529</td>
      <td class="number">11.197</td>
      <td class="number">0.370</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>CH-RG-149</td>
      <td>Rambler, '62-'65 - TC</td>
      <td>&nbsp;</td>
      <td>149</td>
      <td class="number">12.490</td>
      <td class="number">11.312</td>
      <td class="number">0.406</td>
      <td>N/A</td>
      <td class="end">N/A</td>
    </tr>
    <tr>
      <td>SRG-162A</td>
      <td>Studebaker</td>
      <td>&nbsp;</td>
      <td>162</td>
      <td class="number">13.612</td>
      <td class="number">11.305</td>
      <td class="number">0.360</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-166C</td>
      <td>Oldsmobile</td>
      <td>560713</td>
      <td>166</td>
      <td class="number">13.918</td>
      <td class="number">12.465</td>
      <td class="number">0.440</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-166W</td>
      <td>GM</td>
      <td>499858</td>
      <td>166</td>
      <td class="number">13.976</td>
      <td class="number">12.917</td>
      <td class="number">0.379</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-168C</td>
      <td>GM</td>
      <td>3991408</td>
      <td>168</td>
      <td class="number">14.141</td>
      <td class="number">13.276</td>
      <td class="number">0.453</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-168R</td>
      <td>Ford</td>
      <td>Z5AE-6384A</td>
      <td>168</td>
      <td class="number">14.201</td>
      <td class="number">13.242</td>
      <td class="number">0.440</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-168SC</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>168</td>
      <td class="number">14.085</td>
      <td class="number">13.276</td>
      <td class="number">0.446</td>
      <td width="59">12 / 14</td>
      <td class="end">RH</td>
    </tr>
    <tr>
      <td>SRG-168SPL</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>168</td>
      <td class="number">14.105</td>
      <td class="number">12.485</td>
      <td class="number">0.440</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-172NC</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>172</td>
      <td class="number">14.651</td>
      <td class="number">13.571</td>
      <td class="number">0.350</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-188T</td>
      <td>Ford</td>
      <td>C4TZ-6384A</td>
      <td>188</td>
      <td class="number">16.114</td>
      <td class="number">14.739</td>
      <td class="number">0.375</td>
      <td>12</td>
      <td class="end">None</td>
    </tr>
    <tr class="blue">
      <td>SRG-197B</td>
      <td>GM</td>
      <td>3991409</td>
      <td>197</td>
      <td class="number">16.416</td>
      <td class="number">15.576</td>
      <td class="number">0.420</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    <tr>
      <td>SRG-197N</td>
      <td>GM</td>
      <td>3737920</td>
      <td>197</td>
      <td class="number">16.485</td>
      <td class="number">15.682</td>
      <td class="number">0.437</td>
      <td width="59">12 / 14</td>
      <td class="end">None</td>
    </tr>
    </tbody>
  </table>
  
</div>
