<div id="product-line" class="ring-gears">
<h1>Ring Gears</h1>
<h4><a href="#Flywheel">Stock Flywheel/Flexplate</a>, <a href="#TC">Stock Torque Converter</a> and <a href="#Special">Special Order</a></h4>
  <a name="Flywheel"><h2>Stock Flywheel/Flexplate Ring Gears</h2></a>
  <table class="base" width="100%" cellpadding="0" cellspacing="0" summary="Parts for Ring Gears">
    <thead>
    <tr>
    	<th>Sonnax Part Number</th>
        <th>Application</td>
        <th>OEM Reference Number</th>
        <th>Number of Teeth</th>
        <th class="number">Outer Dia. (mm)</th>
        <th class="number">Inner Dia. (mm)</th>
        <th class="number">Thickness (mm)</th>
        <th>DP / Module</th>
        <th>Chamfer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>SRG-104A12</td>
      <td>Antique Austin 1275</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">265.00</td>
      <td class="number">235.94</td>
      <td class="number">12.80</td>
      <td width="59">10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-109CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>109</td>
      <td class="number">282.14</td>
      <td class="number">252.22</td>
      <td class="number">9.02</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-620</td>
      <td>Toyota</td>
      <td>13453-10010</td>
      <td>106</td>
      <td class="number">271.30</td>
      <td class="number">236.86</td>
      <td class="number">9.02</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-112CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>112</td>
      <td class="number">287.63</td>
      <td class="number">259.28</td>
      <td class="number">8.97</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-112S</td>
      <td>&nbsp;</td>
      <td>RG396</td>
      <td>112</td>
      <td class="number">359.92</td>
      <td class="number">315.75</td>
      <td class="number">9.30</td>
      <td>8 / 10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-114A</td>
      <td>Mitsubishi</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">292.43</td>
      <td class="number">266.70</td>
      <td class="number">1.00</td>
      <td>10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-608</td>
      <td>Toyota</td>
      <td>13453-20010</td>
      <td>115</td>
      <td class="number">294.34</td>
      <td class="number">259.23</td>
      <td class="number">8.89</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-115N</td>
      <td>Nissan</td>
      <td>&nbsp;</td>
      <td>115</td>
      <td class="number">295.02</td>
      <td class="number">263.04</td>
      <td class="number">12.01</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-116FT</td>
      <td>GM Diesel</td>
      <td>&nbsp;</td>
      <td>116</td>
      <td class="number">353.77</td>
      <td class="number">322.02</td>
      <td class="number">15.24</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-117TR</td>
      <td>TR250/5/6</td>
      <td>201350</td>
      <td>117</td>
      <td class="number">300.61</td>
      <td class="number">269.72</td>
      <td class="number">12.70</td>
      <td>10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-119CT</td>
      <td>Honda</td>
      <td>&nbsp;</td>
      <td>119</td>
      <td class="number">305.99</td>
      <td class="number">281.97</td>
      <td class="number">8.99</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-120X</td>
      <td>Industrial</td>
      <td>&nbsp;</td>
      <td>120</td>
      <td class="number">304.75</td>
      <td class="number">278.46</td>
      <td class="number">11.00</td>
      <td>10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-634</td>
      <td>Nissan-Datsun</td>
      <td>12312-61000<br />12312-A8600</td>
      <td>120</td>
      <td class="number">306.10</td>
      <td class="number">273.81</td>
      <td class="number">12.07</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-124A</td>
      <td>Subaru</td>
      <td>&nbsp;</td>
      <td>124</td>
      <td class="number">314.35</td>
      <td class="number">289.08</td>
      <td class="number">11.00</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-124N</td>
      <td>Nissan</td>
      <td>12312-26E00</td>
      <td>124</td>
      <td class="number">314.35</td>
      <td class="number">289.08</td>
      <td class="number">11.00</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-129</td>
      <td>Saturn</td>
      <td>&nbsp;</td>
      <td>129</td>
      <td class="number">277.55</td>
      <td class="number">256.03</td>
      <td class="number">10.80</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-130RRG</td>
      <td>BMW M5</td>
      <td>&nbsp;</td>
      <td>130</td>
      <td class="number">331.45</td>
      <td class="number">301.23</td>
      <td class="number">23.42</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-130T</td>
      <td>Chrysler</td>
      <td>1941648</td>
      <td>130</td>
      <td class="number">335.40</td>
      <td class="number">309.09</td>
      <td class="number">9.53</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-130V</td>
      <td>Volkswagen</td>
      <td>311-105-271</td>
      <td>130</td>
      <td class="number">281.10</td>
      <td class="number">240.89</td>
      <td class="number">9.98</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-132AST</td>
      <td>Volkswagen</td>
      <td>&nbsp;</td>
      <td>132</td>
      <td class="number">281.10</td>
      <td class="number">253.62</td>
      <td class="number">10.03</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-132E</td>
      <td>Ford</td>
      <td>D4FZ-6384A</td>
      <td>132</td>
      <td class="number">286.12</td>
      <td class="number">257.78</td>
      <td class="number">9.28</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-135A</td>
      <td>Ford</td>
      <td>D12P-6384A</td>
      <td>135</td>
      <td class="number">287.06</td>
      <td class="number">264.28</td>
      <td class="number">9.28</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-138RY</td>
      <td>Ford</td>
      <td>D2RY-6384A</td>
      <td>138</td>
      <td class="number">295.90</td>
      <td class="number">266.22</td>
      <td class="number">9.54</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-139CHN</td>
      <td>Chrysler</td>
      <td>&nbsp;</td>
      <td>139</td>
      <td class="number">299.22</td>
      <td class="number">275.17</td>
      <td class="number">9.85</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-139G</td>
      <td>GM</td>
      <td>14077156/14022676</td>
      <td>139</td>
      <td class="number">359.16</td>
      <td class="number">337.31</td>
      <td class="number">11.51</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-141FT</td>
      <td>Ford 6.0L Diesel</td>
      <td>&nbsp;</td>
      <td>141</td>
      <td class="number">362.28</td>
      <td class="number">334.45</td>
      <td class="number">13.01</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-142W</td>
      <td>GM</td>
      <td>359115</td>
      <td>142</td>
      <td class="number">302.74</td>
      <td class="number">281.89</td>
      <td class="number">11.51</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-143N</td>
      <td>Dodge</td>
      <td>2843214</td>
      <td>143</td>
      <td class="number">370.30</td>
      <td class="number">344.69</td>
      <td class="number">8.64</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-152FT</td>
      <td>Cummins</td>
      <td>&nbsp;</td>
      <td>152</td>
      <td class="number">390.05</td>
      <td class="number">366.11</td>
      <td class="number">14.25</td>
      <td>10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-153N</td>
      <td>GM</td>
      <td>3789821</td>
      <td>153</td>
      <td class="number">326.26</td>
      <td class="number">305.11</td>
      <td class="number">11.19</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-153NSPL</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>153</td>
      <td class="number">326.26</td>
      <td class="number">285.13</td>
      <td class="number">11.19</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-153NTN</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>153</td>
      <td class="number">326.26</td>
      <td class="number">305.11</td>
      <td class="number">7.63</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-155FT</td>
      <td>Ford</td>
      <td>E5TZ-63848</td>
      <td>155</td>
      <td class="number">398.60</td>
      <td class="number">368.18</td>
      <td class="number">12.71</td>
      <td>10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-157N</td>
      <td>Ford</td>
      <td>CT0P-6384A</td>
      <td>157</td>
      <td class="number">337.93</td>
      <td class="number">305.67</td>
      <td class="number">16.75</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-162M</td>
      <td>Studebaker</td>
      <td>&nbsp;</td>
      <td>162</td>
      <td class="number">345.52</td>
      <td class="number">307.72</td>
      <td class="number">9.14</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-164A</td>
      <td>AMC</td>
      <td>3179741</td>
      <td>164</td>
      <td class="number">351.55</td>
      <td class="number">325.97</td>
      <td class="number">10.67</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-164N</td>
      <td>Ford</td>
      <td>&nbsp;</td>
      <td>164</td>
      <td class="number">361.58</td>
      <td class="number">329.30</td>
      <td class="number">9.53</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-166A</td>
      <td>GM</td>
      <td>313812 / 278328</td>
      <td>166</td>
      <td class="number">352.77</td>
      <td class="number">328.05</td>
      <td class="number">14.51</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-168S</td>
      <td>GM</td>
      <td>460583 / 3889694</td>
      <td>168</td>
      <td class="number">358.26</td>
      <td class="number">337.21</td>
      <td class="number">11.18</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-176B</td>
      <td>Ford</td>
      <td>C9AZ-6384C</td>
      <td>176</td>
      <td class="number">394.55</td>
      <td class="number">368.88</td>
      <td class="number">13.01</td>
      <td>2.25m</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-180W</td>
      <td>Ford</td>
      <td>D7TZ-6384</td>
      <td>180</td>
      <td class="number">394.30</td>
      <td class="number">369.03</td>
      <td class="number">11.19</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-184T</td>
      <td>Ford</td>
      <td>C5AZ-6384A</td>
      <td>184</td>
      <td class="number">394.07</td>
      <td class="number">361.20</td>
      <td class="number">9.53</td>
      <td>12 / 14</td>
      <td>None</td>
    </tr>
    </tbody>
  </table>
  
  <a name="TC"><h2>Stock Torque Converter Ring Gears</h2></a>
  <table class="base" width="100%" cellpadding="0" cellspacing="0" summary="Stock Torque Converter Ring Gears">
    <thead>
    <tr>
    	<th>Sonnax Part Number</th>
        <th>Application</td>
        <th>OEM Reference Number</th>
        <th>Number of Teeth</th>
        <th class="number">Outer Dia. (mm)</th>
        <th class="number">Inner Dia. (mm)</th>
        <th class="number">Thickness (mm)</th>
        <th>DP / Module</th>
        <th>Chamfer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>HO-RG-103</td>
      <td>Honda, 3 &amp; 4 Speed</td>
      <td>&nbsp;</td>
      <td>103</td>
      <td class="number">265.99</td>
      <td class="number">243.99</td>
      <td class="number">8.99</td>
      <td width="59">10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>MT-RG-106</td>
      <td>Mitsubishi KM 175, 176, 177 Colt, Excel, Hyundai</td>
      <td>MD 030629</td>
      <td>106</td>
      <td class="number">272.01</td>
      <td class="number">245.01</td>
      <td class="number">8.51</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>HO-RG-107</td>
      <td>Honda L-15, L-16, S-16</td>
      <td>&nbsp;</td>
      <td>107</td>
      <td class="number">273.00</td>
      <td class="number">243.99</td>
      <td class="number">8.99</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>MT-RG-110</td>
      <td>Mitsubishi, F4A33, Late</td>
      <td>ME 012509</td>
      <td>110</td>
      <td class="number">281.20</td>
      <td class="number">244.30</td>
      <td class="number">8.26</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>HO-RG-114A</td>
      <td>Honda, '86-Up Legend/Sterling    (Narrow Version)</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">292.99</td>
      <td class="number">266.50</td>
      <td class="number">9.50</td>
      <td>10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>CH-RG-122</td>
      <td>Chrysler 10-3/4" (LU &amp; NLU)    TF6/905, A500</td>
      <td>&nbsp;</td>
      <td>122</td>
      <td class="number">311.81</td>
      <td class="number">284.23</td>
      <td class="number">8.89</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>VW-RG-125C</td>
      <td>Volkswagen 01M</td>
      <td>&nbsp;</td>
      <td>125</td>
      <td class="number">269.16</td>
      <td class="number">234.34</td>
      <td class="number">9.75</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CH-RG-130</td>
      <td>Chrysler 10-3/4" (LU, Wide    Version) TF8/727, A500, A518</td>
      <td>&nbsp;</td>
      <td>131</td>
      <td class="number">335.15</td>
      <td class="number">284.23</td>
      <td class="number">8.64</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CH-RG-130T</td>
      <td>Chrysler 10-3/4" (Thin Version)    TF8/727</td>
      <td>&nbsp;</td>
      <td>131</td>
      <td class="number">335.15</td>
      <td class="number">308.91</td>
      <td class="number">9.53</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>FD-RG-132</td>
      <td>Ford C4, 10-1/4"</td>
      <td>&nbsp;</td>
      <td>132</td>
      <td class="number">283.39</td>
      <td class="number">261.85</td>
      <td class="number">9.27</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BW-RG-146</td>
      <td>Borg-Warner Bolted Aluminum Pre-1960    Ford Trucks</td>
      <td>&nbsp;</td>
      <td>146</td>
      <td class="number">376.10</td>
      <td class="number">350.82</td>
      <td class="number">9.40</td>
      <td>10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>CI-RG-146XF</td>
      <td>Chrysler 331 V8, (1951-58)</td>
      <td>&nbsp;</td>
      <td>146</td>
      <td class="number">371.86</td>
      <td class="number">344.42</td>
      <td class="number">9.53</td>
      <td>10</td>
      <td>None</td>
    </tr>
    </tbody>
  </table>
  
  <a name="Special"><h2>Special Order Ring Gears - Flywheel/Flexplate &amp; Torque Converter</h2></a>
  <table class="base" width="100%" cellpadding="0" cellspacing="0" summary="Special Order Ring Gears - Flywheel/Flexplate Torque Converter">
    <thead>
    <tr>
    	<th>Sonnax Part Number</th>
        <th>Application</td>
        <th>OEM Reference Number</th>
        <th>Number of Teeth</th>
        <th class="number">Outer Dia. (mm)</th>
        <th class="number">Inner Dia. (mm)</th>
        <th class="number">Thickness (mm)</th>
        <th>DP / Module</th>
        <th>Chamfer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>SRG-90TR</td>
      <td>TR4A/4/4A</td>
      <td>&nbsp;</td>
      <td>90</td>
      <td class="number">292.57</td>
      <td class="number">252.56</td>
      <td class="number">12.66</td>
      <td width="59">8 / 10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-91TR</td>
      <td>TR2/2/3A</td>
      <td>&nbsp;</td>
      <td>91</td>
      <td class="number">294.72</td>
      <td class="number">270.22</td>
      <td class="number">12.71</td>
      <td width="59">8</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-93TC</td>
      <td>MG TC</td>
      <td>&nbsp;</td>
      <td>93</td>
      <td class="number">299.23</td>
      <td class="number">262.72</td>
      <td class="number">12.51</td>
      <td width="59">8 / 10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-102W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>102</td>
      <td class="number">262.28</td>
      <td class="number">241.28</td>
      <td class="number">8.40</td>
      <td width="59">10 / 12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-103T</td>
      <td>Cummins</td>
      <td>4797</td>
      <td>103</td>
      <td class="number">441.91</td>
      <td class="number">406.60</td>
      <td class="number">22.14</td>
      <td width="59">6 / 8</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-104A10</td>
      <td>Austin 948</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">265.35</td>
      <td class="number">235.98</td>
      <td class="number">12.86</td>
      <td width="59">10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-104A9</td>
      <td>Austin 948</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">264.82</td>
      <td class="number">232.80</td>
      <td class="number">11.91</td>
      <td width="59">10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-104HME</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">268.28</td>
      <td class="number">235.20</td>
      <td class="number">12.56</td>
      <td width="59">10 / 12</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-104J</td>
      <td>Antique 3.8mk</td>
      <td>&nbsp;</td>
      <td>104</td>
      <td class="number">334.77</td>
      <td class="number">305.00</td>
      <td class="number">12.56</td>
      <td width="59">8 / 10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-105</td>
      <td>Nissan</td>
      <td>12312-61A00</td>
      <td>105</td>
      <td class="number">273.16</td>
      <td class="number">239.59</td>
      <td class="number">10.03</td>
      <td width="59">10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-105G</td>
      <td>Datsun</td>
      <td>12312-1800</td>
      <td>105</td>
      <td class="number">270.98</td>
      <td class="number">240.24</td>
      <td class="number">10.01</td>
      <td width="59">10 / 12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-105L</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>105</td>
      <td class="number">270.98</td>
      <td class="number">240.24</td>
      <td class="number">10.01</td>
      <td width="59">10 / 12</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-106A3</td>
      <td>AH100/4, 3000</td>
      <td>&nbsp;</td>
      <td>106</td>
      <td class="number">338.56</td>
      <td class="number">305.05</td>
      <td class="number">15.91</td>
      <td width="59">8 / 10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-106W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>106</td>
      <td class="number">271.33</td>
      <td class="number">245.64</td>
      <td class="number">8.26</td>
      <td width="59">10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-108N</td>
      <td>Nissan</td>
      <td>12312-62J00</td>
      <td>108</td>
      <td class="number">281.53</td>
      <td class="number">251.14</td>
      <td class="number">10.26</td>
      <td width="59">10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-108SPL</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>108</td>
      <td class="number">232.82</td>
      <td class="number">205.13</td>
      <td class="number">11.84</td>
      <td width="59">12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-108WSPL</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>108</td>
      <td class="number">232.92</td>
      <td class="number">204.95</td>
      <td class="number">11.86</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-110W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>110</td>
      <td class="number">281.49</td>
      <td class="number">245.63</td>
      <td class="number">9.77</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-112F</td>
      <td>Ford/Mazda</td>
      <td>D27Z-6834-A</td>
      <td>112</td>
      <td class="number">288.62</td>
      <td class="number">259.75</td>
      <td class="number">9.16</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-112NR</td>
      <td>Mercury</td>
      <td>8BA6384A</td>
      <td>112</td>
      <td class="number">360.47</td>
      <td class="number">327.00</td>
      <td class="number">9.26</td>
      <td width="59">8 / 10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-113</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>113</td>
      <td class="number">288.42</td>
      <td class="number">260.20</td>
      <td class="number">9.26</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-113HME</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>113</td>
      <td class="number">291.08</td>
      <td class="number">266.75</td>
      <td class="number">12.56</td>
      <td width="59">10 / 12</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>HO-RG-114</td>
      <td>Honda, '91 Acura Integra - TC</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">292.99</td>
      <td class="number">254.99</td>
      <td class="number">9.50</td>
      <td width="59">10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>HO-RG-114B</td>
      <td>Honda Accord, '94-Up Acura, Integra '90-'91 - TC</td>
      <td>&nbsp;</td>
      <td>114</td>
      <td class="number">289.00</td>
      <td class="number">243.99</td>
      <td class="number">8.99</td>
      <td width="59">10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-120TF</td>
      <td>MG TF Late</td>
      <td>&nbsp;</td>
      <td>120</td>
      <td class="number">307.63</td>
      <td class="number">272.88</td>
      <td class="number">12.71</td>
      <td>10</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-120MGA</td>
      <td>Antique MG A/B</td>
      <td>&nbsp;</td>
      <td>120</td>
      <td class="number">305.58</td>
      <td class="number">274.23</td>
      <td class="number">15.88</td>
      <td width="59">10 / 12</td>
      <td>LH</td>
    </tr>
    <tr>
      <td>SRG-122CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>122</td>
      <td class="number">313.17</td>
      <td class="number">282.19</td>
      <td class="number">9.02</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-122T</td>
      <td>Chrysler</td>
      <td>2121196</td>
      <td>122</td>
      <td class="number">312.05</td>
      <td class="number">284.44</td>
      <td class="number">8.90</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-122W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>122</td>
      <td class="number">392.22</td>
      <td class="number">363.88</td>
      <td class="number">17.46</td>
      <td width="59">8 / 10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-123CT</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>123</td>
      <td class="number">315.73</td>
      <td class="number">291.75</td>
      <td class="number">9.02</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-124</td>
      <td>Nissan 350Z</td>
      <td>12312-26E00</td>
      <td>124</td>
      <td class="number">316.22</td>
      <td class="number">287.24</td>
      <td class="number">11.99</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-125</td>
      <td>Nissan Spec-V Altima</td>
      <td>&nbsp;</td>
      <td>125</td>
      <td class="number">319.27</td>
      <td class="number">287.24</td>
      <td class="number">10.17</td>
      <td>10</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-125C</td>
      <td>Volkswagen</td>
      <td>055-105-275</td>
      <td>125</td>
      <td class="number">269.30</td>
      <td class="number">250.56</td>
      <td class="number">8.01</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>VW-RG-125</td>
      <td>Volkswagen Passat - TC</td>
      <td>&nbsp;</td>
      <td>125</td>
      <td class="number">268.00</td>
      <td class="number">232.00</td>
      <td class="number">8.00</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-126F</td>
      <td>Perkins</td>
      <td>410276</td>
      <td>126</td>
      <td class="number">404.62</td>
      <td class="number">376.59</td>
      <td class="number">17.47</td>
      <td width="59">8 / 10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-127D</td>
      <td>Cummins</td>
      <td>9340</td>
      <td>127</td>
      <td class="number">407.41</td>
      <td class="number">381.26</td>
      <td class="number">18.96</td>
      <td width="59">8 / 10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-127MGB</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>127</td>
      <td class="number">324.20</td>
      <td class="number">292.49</td>
      <td class="number">9.76</td>
      <td width="59">10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-129W</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>129</td>
      <td class="number">328.62</td>
      <td class="number">279.07</td>
      <td class="number">9.51</td>
      <td width="59">10 / 12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-132M</td>
      <td>Mitsubishi</td>
      <td>14500</td>
      <td>132</td>
      <td class="number">336.78</td>
      <td class="number">278.89</td>
      <td class="number">10.45</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-133J</td>
      <td>4.2 JAG</td>
      <td>&nbsp;</td>
      <td>133</td>
      <td class="number">338.91</td>
      <td class="number">304.75</td>
      <td class="number">12.81</td>
      <td width="59">10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-133MB</td>
      <td>Mercedes</td>
      <td>&nbsp;</td>
      <td>133</td>
      <td class="number">404.20</td>
      <td class="number">360.03</td>
      <td class="number">15.86</td>
      <td>3m</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-133MGC</td>
      <td>MGC</td>
      <td>&nbsp;</td>
      <td>133</td>
      <td class="number">344.06</td>
      <td class="number">312.76</td>
      <td class="number">16.01</td>
      <td>10</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-135C</td>
      <td>Oldsmobile</td>
      <td>559275</td>
      <td>135</td>
      <td class="number">348.36</td>
      <td class="number">316.66</td>
      <td class="number">10.76</td>
      <td width="59">10 / 12</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-138P</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>138</td>
      <td class="number">296.27</td>
      <td class="number">263.57</td>
      <td class="number">10.06</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-139A</td>
      <td>Chrysler</td>
      <td>5222789</td>
      <td>139</td>
      <td class="number">299.11</td>
      <td class="number">275.11</td>
      <td class="number">8.42</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-139CF</td>
      <td>GM</td>
      <td>833177 / 496968</td>
      <td>139</td>
      <td class="number">356.25</td>
      <td class="number">331.97</td>
      <td class="number">12.71</td>
      <td width="59">10 / 12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-147B</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>147</td>
      <td class="number">313.67</td>
      <td class="number">272.41</td>
      <td class="number">8.01</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-148S</td>
      <td>Ford</td>
      <td>B8A-6375D</td>
      <td>148</td>
      <td class="number">381.47</td>
      <td class="number">356.19</td>
      <td class="number">9.40</td>
      <td width="59">10 / 12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-148T</td>
      <td>Chrysler</td>
      <td>2121195</td>
      <td>148</td>
      <td class="number">318.24</td>
      <td class="number">284.42</td>
      <td class="number">9.41</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CH-RG-149</td>
      <td>Rambler, '62-'65 - TC</td>
      <td>&nbsp;</td>
      <td>149</td>
      <td class="number">317.25</td>
      <td class="number">287.32</td>
      <td class="number">10.31</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>SRG-162A</td>
      <td>Studebaker</td>
      <td>&nbsp;</td>
      <td>162</td>
      <td class="number">345.74</td>
      <td class="number">287.14</td>
      <td class="number">9.14</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-166C</td>
      <td>Oldsmobile</td>
      <td>560713</td>
      <td>166</td>
      <td class="number">353.53</td>
      <td class="number">316.61</td>
      <td class="number">11.19</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-166W</td>
      <td>GM</td>
      <td>499858</td>
      <td>166</td>
      <td class="number">354.98</td>
      <td class="number">328.09</td>
      <td class="number">9.63</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-168C</td>
      <td>GM</td>
      <td>3991408</td>
      <td>168</td>
      <td class="number">359.17</td>
      <td class="number">337.21</td>
      <td class="number">11.51</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-168R</td>
      <td>Ford</td>
      <td>Z5AE-6384A</td>
      <td>168</td>
      <td class="number">360.69</td>
      <td class="number">336.35</td>
      <td class="number">11.18</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-168SC</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>168</td>
      <td class="number">357.76</td>
      <td class="number">337.21</td>
      <td class="number">11.34</td>
      <td width="59">12 / 14</td>
      <td>RH</td>
    </tr>
    <tr>
      <td>SRG-168SPL</td>
      <td>GM</td>
      <td>&nbsp;</td>
      <td>168</td>
      <td class="number">358.26</td>
      <td class="number">317.13</td>
      <td class="number">11.18</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-172NC</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>172</td>
      <td class="number">372.13</td>
      <td class="number">344.70</td>
      <td class="number">8.90</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-188T</td>
      <td>Ford</td>
      <td>C4TZ-6384A</td>
      <td>188</td>
      <td class="number">409.30</td>
      <td class="number">374.38</td>
      <td class="number">9.54</td>
      <td>12</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-197B</td>
      <td>GM</td>
      <td>3991409</td>
      <td>197</td>
      <td class="number">416.98</td>
      <td class="number">395.63</td>
      <td class="number">10.67</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SRG-197N</td>
      <td>GM</td>
      <td>3737920</td>
      <td>197</td>
      <td class="number">418.73</td>
      <td class="number">398.33</td>
      <td class="number">11.11</td>
      <td width="59">12 / 14</td>
      <td>None</td>
    </tr>
    </tbody>
  </table>
  
</div>