<div id="career-opportunities">
  <h1>Career Opportunities</h1>
  <p>Sonnax Industries, lnc. is a leading supplier to the automotive aftermarket. We are recognized for designing, manufacturing and distributing transmission, torque converter and high performance parts worldwide. Sonnax is recognized as one of the fastest growing companies in the state of Vermont. The Sonnax name has become synonymous with excellent service, innovative designs and customer dedication.</p>
  <p>Be a part of a cutting-edge team focused on developing and delivering the best product in the industry, a team whose imagination, hard work and results are rewarded. With Sonnax you will enjoy outstanding benefits, including tuition reimbursement, 401(K) and much more.</p>

  <h2>Open Position</h2>
  <ul class="indented">
    <li>
      <h3>Design Engineer</h3>
      <div class="meta">
        <p>This position is responsible for product development and design with a strong emphasis on design for manufacturability. The successful candidate will be part of a cross-functional team that designs, tests and reviews new drivetrain products for the automotive aftermarket. This position requires experience with geometric dimensioning and tolerancing (GDT), gear and spline design as well as shaft design. A good working knowledge of the methods, processes and materials used in manufacturing precision metal and plastic parts including aluminum die castings, steel and aluminum forgings, plastic molded components, and CNC machined components is also required. Knowledge of the mechanical properties of materials and the effect of processes such as heat treatment and cryogenic treatment on the material's strength and durability are a plus.</p>
		<p>Minimum qualifications include a BSME or BET degree with a minimum of 5 years related work experience, proficiency in 3D SolidWorks, AutoCAD, Microsoft Outlook, Word and Excel. Knowledge of automotive drivetrain technology is desired but not required.</p>
      </div>
    </li>
  </ul>
  <!-- 
	<p>Currently there are no open positions, however if you are interested in a career with Sonnax, please send your resume and cover letter to:</p>
 -->
  	<p>If you are interested in a career with Sonnax, please send your resume and cover letter to:</p>
    <p><strong>Sonnax Industries, Inc.</strong><br>
    <strong>Attn:</strong> Human Resources<br>
	1 Automatic Drive<br>
    P.0. Box 440<br>
    Bellows Falls, VT 05101-0440, USA</p>
    <p><strong>Fax:</strong> (802) 428-1830<br>
    <strong>Email:</strong> <%= mail_to 'opportunities@sonnax.com' %>
  </p>
  <p><%= link_to 'Click here for directions to the Sonnax corporate headquarters', directions_path %></p>
</div>
