<div id="career-opportunities">
  <h1>Career Opportunities</h1>
  <%= image_tag('opportunities.jpg', :width => 780, :height => 331, :alt => 'Career Opportunities at Sonnax') %>
  <p>Sonnax Industries, lnc. is a leading supplier to the automotive aftermarket. We are recognized for designing, manufacturing and distributing transmission, torque converter and high performance parts worldwide. Sonnax is recognized as one of the fastest growing companies in the state of Vermont.The Sonnax name has become synonymous with excellent service, innovative designs and customer dedication.</p>
  <p>Be a part of a cutting-edge team focused on developing and delivering the best product in the industry.</p>

  <h2>Open Positions</h2>
  <ul>
    <li>
      <h3>Quality Control Manager</h3>
      <div class="meta">
        <p>We are currently seeking a Quality Control Manager for our Vermont manufacturing and distribution facility. The right candidate will plan, coordinate, and direct the quality control program designed to ensure compliance with established company standards. Sonnax is an ISO 9001:2008 registered company.</p>
        <p>The Quality Control Manager plays an integral role in maintaining product quality for both internal manufacturing processes as well as subcontract vendor processes through various measuring and testing techniques.</p>
        <p>The candidate must have experience and knowledge of Quality Systems, demonstrated ability to focus on the customer along with strong leadership, interpersonal, and communication skills. This position supervises the work of 7 inspectors.</p>
        <p>Experience with SPC, understanding of Metrology concepts, and knowledge of 6 Sigma methodologies are a plus. In addition, the candidate must be able to demonstrate computer literacy, including facility with Microsoft products, and the ability to learn internal company systems.</p>
        <p>Minimum of 5 years experience in a manufacturing environment, with a B.S. in Engineering or equivalent, or ASQC training preferred.</p>
      </div>
    </li>
  </ul>

  <h3>Where Imagination, Hard Work and Results are Rewarded</h3>
  <p>You will enjoy outstanding benefits, including tuition reimbursement, 401(K) and much more.</p>
  <p>If you are interested please email or post your resume and cover letter to the following address:</p>

  <p>
    Sonnax Industries, Inc.<br>
    P.0. Box 440<br>
    Bellows Falls, VT 05101-3122, USA<br>
    <strong>Attn:</strong> Human Resources<br>
    <strong>Fax:</strong> (802) 428-1830<br>
    <strong>Email:</strong> <%= mail_to 'opportunities@sonnax.com' %>
  </p>
  <p><%= link_to 'Click here for directions to the Sonnax corporate headquarters', directions_path %></p>
</div>
