<h1>Career Opportunities</h1>
<p>Sonnax Industries, lnc. is a leading supplier to the automotive aftermarket. We are recognized for designing, manufacturing and distributing transmission, torque converter and high performance parts worldwide. Sonnax is recognized as one of the fastest growing companies in the state of Vermont.The Sonnax name has become synonymous with excellent service, innovative designs and customer dedication.</p>
<p>Be a part of a cutting-edge team focused on developing and delivering the best product in the industry.</p>

<h2>Open Positions</h2>
<ul>
  <li>
    <h3>Graphic Designer/Web Developer</h3>
    <div class="meta">
      <p>Our Marketing Department is seeking an experienced graphic designer / web developer to work as part of a team. Graphic responsibilities include designing and producing a variety of print and electronic marketing and technical material for magazines, catalogs, newsletters, product announcements and instructions. Web development responsibilities include updating the look and feel of the Sonnax website, creating HTML product catalogs, and server file management. Work with vendors to ensure projects are completed in a timely and cost-effective manner will also be required.</p>
      <p>This position requires proficiency in Adobe Creative Suite 4, as well as proven creativity and knowledge of design, familiarity with 4 color printing process and the ability to take a project from concept to final printed piece. The position also requires strong web development skills, including extensive experience with HTML and CSS, in-depth experience with available browsers (both desktop and mobile), and some JavaScript basics. Knowledge and use of web development best practices is also expected.</p>
      <p>Digital photography experience along with experience in Quark, AutoCAD, Solid Works 3DVIA (or similar applications) and digital animation, would be a plus.</p>
      <p>Requirements include a degree in graphic design / web development or a related a discipline and at least 3 years previous experience with print and web media. Strong organizational skills and the ability to work as part of a team are essential. Recent graduates with directly related credentials as well as seasoned professionals will be considered.</p>
    </div>
  </li>
</ul>

<h3>Where Imagination, Hard Work and Results are Rewarded</h3>
<p>You will enjoy outstanding benefits, including tuition reimbursement, 401(K) and much more.</p>
<p>If you are interested please email or post your resume and cover letter to the following address:</p>

<p>
  Sonnax Industries, Inc.<br>
  P.0. Box 440<br>
  Bellows Falls, VT 05101-3122, USA<br>
  <strong>Attn:</strong> Human Resources<br>
  <strong>Fax:</strong> (802) 428-1830<br>
  <strong>Email:</strong> <%= mail_to 'opportunities@sonnax.com' %>
</p>
<p>Need directions to the Sonnax corporate headquarters or the Sonnax Technical and Distribution Center? Click Here</p>