<div id="career-opportunities">
  <h1>Career Opportunities</h1>
  <p>Sonnax Industries, lnc. is a leading supplier to the automotive aftermarket. We are recognized for designing, manufacturing and distributing transmission, torque converter and high performance parts worldwide. Sonnax is recognized as one of the fastest growing companies in the state of Vermont. The Sonnax name has become synonymous with excellent service, innovative designs and customer dedication.</p>
  <p>Be a part of a cutting-edge team focused on developing and delivering the best product in the industry, a team whose imagination, hard work and results are rewarded. With Sonnax you will enjoy outstanding benefits, including tuition reimbursement, 401(K) and much more.</p>

  <!-- 
  <h2>Open Positions</h2>
  <ul class="indented">
    <li>
      <h3>Position Title</h3>
      <div class="meta">
        <p>job description</p>
      </div>
    </li>
  </ul>
 -->

<p>Currently there are no open positions, however if you are interested in a career with Sonnax, please send your resume and cover letter to:</p>
  	<!-- <p>If you are interested in a career with Sonnax, please send your resume and cover letter to:</p> -->
    <p><strong>Sonnax Industries, Inc.</strong><br>
    <strong>Attn:</strong> Human Resources<br>
	1 Automatic Drive<br>
    P.0. Box 440<br>
    Bellows Falls, VT 05101-0440, USA</p>
    <p><strong>Fax:</strong> (802) 428-1830<br>
    <strong>Email:</strong> <%= mail_to 'opportunities@sonnax.com' %>
  </p>
  <p><%= link_to 'Click here for directions to the Sonnax corporate headquarters', directions_path %></p>
</div>
