<div id="career-opportunities">
  <h1>Career Opportunities</h1>
  <p>Sonnax Industries, lnc. is a leading supplier to the automotive aftermarket. We are recognized for designing, manufacturing and distributing transmission, torque converter and high performance parts worldwide. Sonnax is recognized as one of the fastest growing companies in the state of Vermont. The Sonnax name has become synonymous with excellent service, innovative designs and customer dedication.</p>
  <p>Be a part of a cutting-edge team focused on developing and delivering the best product in the industry, a team whose imagination, hard work and results are rewarded. With Sonnax you will enjoy outstanding benefits, including tuition reimbursement, 401(K) and much more.</p>

  <h2>Open Position</h2>
  <ul class="indented">
    <li>
      <h3>Sourcing Engineer</h3>
      <div class="meta">
        <p>The Sourcing Engineer is responsible for leading efforts to identify and implement cost savings as well as improving quality and strengthening reliability throughout the domestic and international supply chain.  This position requires complex data analysis, the development of new suppliers, and provides technical support to the purchasing, manufacturing, product engineering and quality control departments to promote cost effective designs and processes.</p>
		<p>Qualifications and Skills
		<ul>
		<li>Strong analytic skills with the ability to solve complex problems; excellent interpersonal, project management and presentation skills</li>
		<li>Knowledge and experience with manufacturing processes including CNC turning and milling, forging, heat treatment, gear manufacturing, die molding, etc.</li>
		<li>Ability to communicate and negotiate effectively with domestic and international suppliers</li>
		<li>Lean manufacturing and continual process improvement experience</li>
		<li>Proficiency with CAD (SolidWorks and AutoCAD) and MS Office products</li>
		<li>Ability to travel up to 20% of the time, both domestically and internationally</li>
		<li>B.S. degree in Manufacturing Engineering</li>
		<li>8-10 years of manufacturing and sourcing experience with a global supply base</li>
		</ul>
</p>
      </div>
    </li>
  </ul>
  <!-- 
	<p>Currently there are no open positions, however if you are interested in a career with Sonnax, please send your resume and cover letter to:</p>
 -->
  	<p>If you are interested in a career with Sonnax, please send your resume and cover letter to:</p>
    <p><strong>Sonnax Industries, Inc.</strong><br>
    <strong>Attn:</strong> Human Resources<br>
	1 Automatic Drive<br>
    P.0. Box 440<br>
    Bellows Falls, VT 05101-0440, USA</p>
    <p><strong>Fax:</strong> (802) 428-1830<br>
    <strong>Email:</strong> <%= mail_to 'opportunities@sonnax.com' %>
  </p>
  <p><%= link_to 'Click here for directions to the Sonnax corporate headquarters', directions_path %></p>
</div>
