<div id="directions">
  <h1>Directions to Sonnax</h1>
  
  <div class="map">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;client=firefox-a&amp;ie=UTF8&amp;cid=0,0,18087851349700352498&amp;fb=1&amp;dq=sonnax+bellows+falls&amp;daddr=1+Automatic+Drive,+Bellows+Falls,+VT+05101&amp;geocode=13608065219389339054,43.171648,-72.458288&amp;ll=43.171648,-72.458288&amp;spn=2.499787,5.778809&amp;output=embed&amp;s=AARTsJoaYlvWBIfaoTq52kcUD4aQVMZFUw"></iframe>
    <p class="caption"><a href="http://maps.google.com/maps?hl=en&amp;client=firefox-a&amp;ie=UTF8&amp;cid=0,0,18087851349700352498&amp;fb=1&amp;dq=sonnax+bellows+falls&amp;daddr=1+Automatic+Drive,+Bellows+Falls,+VT+05101&amp;geocode=13608065219389339054,43.171648,-72.458288&amp;ll=43.171648,-72.458288&amp;spn=2.499787,5.778809&amp;source=embed <http://maps.google.com/maps?hl=en&amp;amp;client=firefox-a&amp;amp;ie=UTF8&amp;amp;cid=0,0,18087851349700352498&amp;amp;fb=1&amp;amp;dq=sonnax+bellows+falls&amp;amp;daddr=1+Automatic+Drive,+Bellows+Falls,+VT+05101&amp;amp;geocode=13608065219389339054,43.1> " rel="external">View Larger Map and get directions from your location using Google</a></p>
  </div>
  
  <h2>From Boston &amp; Points East</h2>
  <ul>
    <li>Route 2 West to Gardner, MA</li>
    <li>Take Route 140 North to Route 12 North</li>
    <li>Stay on Route 12 North through Keene, N.H.</li>
    <li>Drive north toward Bellows Falls and cross the second bridge to Vermont</li>
    <li>Turn right onto Route 5 North for about 3 miles</li>
    <li>For the <strong>Sonnax Technical &amp; Distribution Center</strong>, turn right onto Industrial Drive (just before the passing lane begins on Route 5)</li>
    <li>For <strong>Sonnax Corporate Headquarters</strong>, stay on Route 5 for approximately 1/2-mile longer, then turn right onto Imtec Drive (just past the Shell Station). The Sonnax parking lot is on your immediate left.</li>
  </ul>
  
  <h2>From Albany &amp; Points West</h2>
  <ul>
    <li>Get on Route 7 East to Vermont</li>
    <li>Route 7 turns into Route 9 in Vermont</li>
    <li>Drive Eastward on Route 9 to Brattleboro, and get on I-91 North</li>
    <li>Get off at Exit 6</li>
    <li>For <strong>Sonnax Corporate Headquarters</strong>, turn left at bottom of exit ramp, then take your first right onto Imtec Drive (just past the Shell Station). The Sonnax parking lot is on your immediate left.</li>
    <li>For the <strong>Sonnax Technical &amp; Distribution Center</strong>, turn right at the bottom of the exit ramp, proceed about a 1/2-mile south on Route 5, then turn left onto Industrial Drive</li>
  </ul>
  
  <h2>From Points North</h2>
  <ul>
    <li>Take I-91 South to Exit 6</li>
    <li>Turn right onto Route 5 South</li>
    <li>For <strong>Sonnax Corporate Headquarters</strong>, drive approximately 2/10 of a mile; it is the first building on the left</li>
    <li>For the <strong>Sonnax Technical &amp; Distribution Center</strong>, proceed about 1/2 mile further south on Route 5, past the Corporate Headquarters, then turn left onto Industrial Drive</li>
  </ul>
  
  <h2>From Points South</h2>
  <ul>
    <li class="style2">Take I-91 North to Exit 6</li>
    <li class="style2">For <strong>Sonnax Corporate Headquarters</strong>, turn left at bottom of exit ramp, then take your first right onto Imtec Drive (just past the Shell Station). The Sonnax parking lot is on your immediate left</li>
    <li class="style2">For the <strong>Sonnax Technical &amp; Distribution Center</strong>, turn right at the bottom of the exit ramp, proceed about a 1/2-mile south on Route 5, then turn left onto Industrial Drive</li>
  </ul>
</div>