<div id="events">
  <h1>Sonnax Events</h1>
  Sonnax looks forward to meeting with attendees, learning more about current rebuilding challenges and discussing Sonnax’s newest transmission products at these events.
  
  <h2>Quick Links</h2>
  <ul>
    <li>Automechanika Gulf Exhibition <a href="#may25">May 25-27</a></li>
    <li>PAACE Automechanika Mexico <a href="#july14">July 14-16</a></li>
    <li>Automechanika Frankfurt <a href="#sept14">Sept. 14-19</a></li>
  </ul>
  
  <ul class="articles">
    <li id="may25">
      <h2>Automechanika Gulf Exhibition</h2>
      <em class="published-date">
        Dubai, EAE
        May 25-27, 2010
      </em>
      <p><a href="http://www.automechanikame.com" rel="external"><img src="/images/news-and-events/autoME1.gif" alt="Automechanika Middle East" width="250" height="58"></a></p>      
      <p class="more"><strong>Learn more:</strong> <a href="http://www.automechanikame.com" rel="external">www.automechanikame.com</a></p>
    </li>
    
    <li id="july14">
      <h2>PAACE Automechanika Mexico</h2>
      <em class="published-date">
        Mexico City
        July 14-16, 2010
      </em>
      <p>Sonnax will return to PAACE 2010 with an exhibit at booth #3439.</p>      
      <p class="more"><strong>Learn more:</strong> <a href="http://www.paaceautomechanika.com/" rel="external">www.paaceautomechanika.com</a></p>
    </li>
    
    <li id="sept14" class="last">
      <h2>Automechanika Frankfurt</h2>
      <em class="published-date">
        Frankfurt, Germany
        Sept. 14-19, 2010
      </em>
      <p>Look for the Sonnax booth and our new Transmission Parts Catalog at the 2010 Automechanika Frankfurt Trade Show and Fair.</p>
      <p class="more"><strong>Learn more:</strong> <a href="http://automechanika.messefrankfurt.com/frankfurt/en/besucher/willkommen.html" rel="external">www.automechanika.messefrankfurt.com</a></p>
    </li>
  </ul>
</div>

