<p style="text-align: left;">Sonnax looks forward to meeting with attendees, learning more about current rebuilding challenges and discussing Sonnax’s newest transmission products at these events.</p>
<span style="color: #00548a; font-family: arial; font-size: 10pt; font-weight: bold;">Quick Links</span>
<span style="color: #00548a; font-family: arial; font-size: 8pt; font-weight: bold; line-height: 145%;">Automechanika Gulf Exhibition <a href="#may25">May 25-27</a>
PAACE Automechanika Mexico <a href="#july14">July 14-16</a>
Automechanika Frankfurt <a href="#sept14">Sept. 14-19</a>
</span>

<a name="may25"></a> 
<p style="text-align: center;"><a class="aligncenter" title="Automechanika Middle East" href="http://www.automechanikame.com" target="_blank"><img class="aligncenter size-full wp-image-174" title="Automechanika Middle East" src="http://blog.sonnax.com/wp-content/uploads/2010/04/autoME1.gif" border="0" alt="Automechanika Middle East" width="250" height="58" /></a></p>

<h3 style="text-align: center;">Automechanika Gulf Exhibition
Dubai, EAE
May 25-27, 2010</h3>
<p style="text-align: center;"><strong>Learn more:</strong> <a href="http://www.automechanikame.com">www.automechanikame.com</a></p>
<hr /><a name="july14"></a>
<p style="text-align: center;"><a href="http://www.atra.com"><img title="PAACE" src="http://blog.sonnax.com/wp-content/uploads/2010/05/paace20101.gif" border="0" alt="PAACE" width="258" height="90" /></a></p>

<h3 style="text-align: center;">PAACE Automechanika Mexico
Mexico City
July 14-16, 2010</h3>
Sonnax will return to PAACE 2010 with an exhibit at booth #3439.
<p style="text-align: center;"><strong>Learn more:</strong> <a title="PAACE" href="http://www.paaceautomechanika.com/" target="_blank">www.paaceautomechanika.com</a></p>

<p style="text-align: center;"><hr /><a name="sept14"></a></p>

<p style="text-align: center;"><a href="http://blog.sonnax.com/wp-content/uploads/2010/05/auto-Germany.gif"><img class="aligncenter size-full wp-image-216" title="Automechanika Frankfurt" src="http://blog.sonnax.com/wp-content/uploads/2010/05/auto-Germany.gif" alt="Automechanika Frankfurt" width="250" height="55" border="0"/></a></p>

<h3 style="text-align: center;">Automechanika Frankfurt
Frankfurt, Germany
Sept. 14-19, 2010</h3>
Look for the Sonnax booth and our new Transmission Parts Catalog at the 2010 Automechanika Frankfurt Trade Show and Fair.

<p style="text-align: center;"><strong>Learn more:</strong> <a href="http://automechanika.messefrankfurt.com/frankfurt/en/besucher/willkommen.html">www.automechanika.messefrankfurt.com</a></p>