<div id="history-and-mission">
  <div id="col-1">
    <%= image_tag('statement.jpg', :alt => 'History and Mission of Sonnax') %>
  </div>

  <div id="col-2">
    <h1>History &amp; Mission</h1>
    <p>Founded in 1978, Sonnax has become a leading supplier to the automotive aftermarket. The company designs, manufactures and distributes replacement components for automatic transmissions, torque converters, drive shafts and related products worldwide. In addition to serving the passenger vehicle aftermarket, Sonnax also has strong product offerings for the high performance and heavy-duty markets.</p>

    <p>Sonnax exports to more than 60 countries and supports emerging markets worldwide. The development of a worldwide network of distributors, re-manufacturers and technical resources is one result of our commitment to successful partnerships with our customers.</p>

    <p>Corporate headquarters in Vermont include state-of-the-art design, inspection and distribution facilities to ensure on-time delivery of quality product. We rely upon outstanding technical resources, including a tech hotline, fully equipped prototype lab, offsite research and development centers, and technically sophisticated catalogs.</p>

    <p>Our nearly 200 employees take great pride in the Sonnax name and strive to further the company&#8217;s reputation for excellent service, innovative design and customer dedication. We welcome your inquiries and feedback.</p>

    <h2>Mission Statement</h2>
    <p>Sonnax&#8217;s mission is to be the leading supplier of innovative drivetrain components to the automotive aftermarket by developing quality solutions that serve customer needs.</p>

    <p>To achieve our mission we are focused on three broad strategies:</p>

    <ul>
    	<li>Identify, design and deliver the highest-quality products in a timely fashion</li>
    	<li>Provide excellent customer service through technical support, education and friendly customer response</li>
    	<li>Provide our employees with a rewarding career experience that is respectful and challenging</li>
    </ul>
  </div>
</div>
