<div id="international-info">
  <h1>Sonnax International</h1>
  
  <ul class="flags group">
    <li class="argentina">Argentina</li>
    <li class="australia">Australia</li>
    <li class="barbados">Barbados</li>
    <li class="belarus">Belarus</li>
    <li class="belgium">Belgium</li>
    <li class="brazil">Brazil</li>
    <li class="bulgaria">Bulgaria</li>
    <li class="canada">Canada</li>
    <li class="chile">Chile</li>
    <li class="china">China</li>
    <li class="columbia">Columbia</li>
    <li class="costa-rica">Costa Rica</li>
    <li class="czechoslovakia">Czechoslovakia</li>
    <li class="denmark">Denmark</li>
    <li class="el-salvador">El Salvador</li>
    <li class="finland">Finland</li>
    <li class="france">France</li>
    <li class="germany">Germany</li>
    <li class="guatemala">Guatemala</li>
    <li class="hungary">Hungary</li>
    <li class="iceland">Iceland</li>
    <li class="israel">Israel</li>
    <li class="jamaica">Jamaica</li>
    <li class="japan">Japan</li>
    <li class="kazakhstan">Kazakhstan</li>
    <li class="kuwait">Kuwait</li>
    <li class="latvia">Latvia</li>
  </ul>
    
  <p>Sonnax supports a network of distributors and rebuilders worldwide with quality products, excellent service and technical resources, including technical bulletins, rebuilding seminars and catalogs in English, Spanish and Chinese. Our international sales team is multi-lingual and works closely with customers, end users and Sonnax product line managers and technical support staff, to anticipate and respond to inquiries and meet diverse product line needs of a global marketplace. For more information and to contact the international team, send an email to <%= mail_to 'internationalsalesteam@sonnax' %></p>
  <ul class="options">
    <li><%= link_to 'Find a Transmission Specialties&reg; Distributor', distributors_path %></li>
    <li><%= link_to 'Payment and shipping options for international customers', international_shipping_and_payment_path %></li>
  </ul>
  
  <ul class="flags group">
    <li class="lebanon">Lebanon</li>
    <li class="lithuania">Lithuania</li>
    <li class="malaysia">Malaysia</li>
    <li class="mexico">Mexico</li>
    <li class="netherlands">Netherlands</li>
    <li class="new-zealand">New Zealand</li>
    <li class="norway">Norway</li>
    <li class="peru">Peru</li>
    <li class="poland">Poland</li>
    <li class="puerto-rico">Puerto Rico</li>
    <li class="russia">Russia</li>
    <li class="saudi-arabia">Saudi Arabia</li>
    <li class="serbia-montenegro">Serbia Montenegro</li>
    <li class="singapor">Singapor</li>
    <li class="south-africa">South Africa</li>
    <li class="south-korea">South Korea</li>
    <li class="spain">Spain</li>
    <li class="sweden">Sweden</li>
    <li class="switzerland">Switzerland</li>
    <li class="taiwan">Taiwan</li>
    <li class="thailand">Thailand</li>
    <li class="trinidad">Trinidad</li>
    <li class="turkey">Turkey</li>
    <li class="united-kingdom">United Kingdom</li>
    <li class="ukraine">Ukraine</li>
    <li class="unitarab">Unitarab</li>
    <li class="venezuela">Venezuela</li>
  </ul>  
</div>
