<h1>International Payment and Shipping Options</h1>
<h2>Payment Options</h2>
<ul>
	<li>Cash in Advance by wire transfer (Please inquire about bank information)</li>
	<li>Credit Card (Mastercard or Visa)</li>
	<li>30 day Open Credit Terms (Prior authorization required)</li>
</ul>

<h2>Shipping Options</h2>
<p>Sonnax will arrange shipment to you, your freight forwarder or your designated carrier.</p>
<ul>
	<li>Door-to-Door by UPS Express or Express Saver.</li>
	<li>UPS or Trucking Company to designated freight forwarder.</li>
	<li>Customer designated carrier.</li>
	<li>Customer designates carrier and coordinates pick up arrangements with Sonnax.</li>
</ul>