<div id="news">
  <h1>Sonnax News</h1>

  <h2>Haiti Relief Fund-Raiser</h2>
  	<em class="date">February 8, 2010</em>
      <p>One hundred and forty Sonnax employees recently pulled together in response to the Haiti earthquake crisis, helping the company contribute more than $5,500 to the Clinton Bush Haiti Fund.</p>
	  <p>Sonnax President and CEO Tommy Harmon initiated the company-wide fund-raising effort soon after a 7.0 magnitude earthquake on Jan. 12, 2010, devastated the country of Haiti. "I thought it was important that everyone who was in a position to contribute money to the people of Haiti did so," said Harmon. "Sonnax is fortunate enough to be in that position."</p>
	  <p>Sonnax offered to match up to $2,000 in employee contributions to the Haiti Fund as well as any other organization they chose to support for that country's relief efforts. This amount was quickly upped to $3,000, however, when employees hit the initial target in just a few days. Within two weeks, $2,754 had been contributed, bringing the total Sonnax donation to $5,508. In addition to accepting individual contributions, the company held a special spaghetti luncheon organized by Sonnax Maintenance Technician Steve Cheeney. Children of employees also raised and gave money of their own in support of the drive.</p>
	  <p>"I am very proud of the compassion everyone has shown for people in Haiti," said Harmon.</p>
	  <p>More information on the Clinton Bush Haiti Fund may be found online at <a href="http://www.clintonbushhaitifund.org">www.clintonbushhaitifund.org</a>.</p>

</div>
