<div id="news">
  <h1>Sonnax News</h1>

  <h2>International Sonnax TASC Force Meeting</h2>
  	<em class="date">February 5, 2010</em>
      <p>The Sonnax TASC Force met in Europe last month, bringing together experts from more than 11 countries to tackle industry developments and technical challenges faced by today's transmission specialists.</p>
	  <p>The Sonnax TASC Force is composed of experienced transmission rebuilders and technicians with a hands-on understanding of the latest units and industry developments. Working closely with Sonnax design engineers and technicians, TASC Force members contribute product ideas, test new products and troubleshoot results, then meet on a regular basis to compare findings. Members play an invaluable role in identifying the root causes of transmission problems and supporting the development of Sonnax transmission products for the automotive aftermarket industry.</p>
	  <p>Ganzeboom Transmissies in Almelo, Netherlands, hosted the Jan. 22-23 TASC Force meeting. For the first time, traditional participants from the U.S. and Western Europe sat side by side with their counterparts from Eastern Europe and the Middle East, a reflection of the automotive industry's increasingly global nature. Attendees included Sonnax representatives as well as individuals from Belgium, Germany, Latvia, Sweden, the Netherlands, Poland, Russia, Saudi Arabia, Switzerland, the U.K. and the U.S.</p>
	  <p>The two-day event focused on roundtable discussion as well as hands-on workshops in the Ganzeboom facility. Bob Warnke, Sonnax V.P. of Technical Development, presented and moderated the group's technical exchanges and discussions on market trends, product feedback and new product idea development. Sonnax also introduced to the group its first on-site European representative, Nelson Harmon, who is stationed in Amsterdam.</p>
	  <p>"Working with industry leaders in the European automotive aftermarket is one of the most important ways in which Sonnax pursues timely, effective product development," said Steve Jassaud, Sonnax V.P. of Sales. "The recent TASC Force meeting was an opportunity to demonstrate that we are listening and responding with real solutions for transmission rebuilders around the world."</p>
	  <p>Learn more about the <%= link_to 'Sonnax TASC Force', tasc_force_path %>.</p>

</div>
