<div id="news">
  <h1>Sonnax News</h1>

  <h2>Sonnax Seminar Presentation </h2>
  	<em class="date">May 10, 2010</em>
      <p>Sonnax engineer MacKenzie Campbell will present a mini seminar on today's more common and troublesome valve bodies during <a href="http://www.kingomatic.com/komseminar09">Transmission &amp; Driveline Technical Seminars 2010 hosted by King-O-Matic</a>. This event will be held November 19-20, 2010, in Mississauga, Ontario, Canada. Attendees will learn quick, inexpensive and reliable testing techniques to determine which bores need to be addressed, how to evaluate the valve body and repair options. Campbell also will review a return-on-investment analysis of tool costs and time investment to help you determine whether it's more profitable to rebuild or replace the valve body. Sonnax will be one several exhibitors at the event.</em></p>
	</div>

</div>
