<div id="news">
  <h1>Sonnax News</h1>

  <h2>Quick Links</h2>
  <ul>
    <li><a href="#topten">Transmission Digest Names Sonnax a Top 10 of 2010 Winner</a></li>
    <li><a href="#tasceurope">International TASC Force Meeting</a></li>
    <li><a href="#haiti">Employees Reach Out to Haiti</a></li>
    <li><a href="#solarinstall">Solar Power System Installation</a></li>
    <li><a href="#jasperaward">Jasper Preferred Partner Award</a></li>
  </ul>
  
  <ul class="articles">
    <li id="topten">
      <h2><em>Transmission Digest</em> names Sonnax a Top 10 of 2010 winner</h2>
      <em class="published-date">February 15, 2010</em>
      <p>The automotive journal <em><a href="http://www.transmissiondigest.com/">Transmission Digest</a></em> announced in its February 2010 issue that Sonnax won three spots in its annual top 10 contests. The magazine asked readers to pick the year&#8217;s best tools, equipment, products and services available to transmission repair facilities.</p>

      <img title="Sonnax 2010 Top 10 Winners" src="/images/news-and-events/winners2.jpg" alt="Sonnax 2010 Top 10 Winners" width="500" height="260">

      <ul class="awards">
        <li>
          <p><strong>Top Product:</strong> <a href="http://www.sonnax.com/part_summary.php?id=5120&amp;pl=1">Kryptonite&trade; Rear Stator Bushing</a></p>
          <p class="meta">For maximum durability, Sonnax created a precise fitting and extremely wear-resistant Teflon® (PTFE) lined replacement bushing. [It] is the best option for supporting the 20 lb. input housing and improving the reliability of 4L60 and 4L60-E/65-E/70-E units. There is nothing in the aftermarket to match the fit and durability of this winner.</p>
        </li>

        <li>
          <p><strong>Top Product:</strong> <a href="http://www.sonnax.com/part_summary.php?id=4778&amp;pl=1">4L60/4L60E Input Drum Reinforcing Kit</a></p>
          <p class="meta">The GM 4L60 and 4L60-E/65-E/70-E drum assembly is known to crack where the input shaft is pressed into it (where the overrun clutch rides). Sonnax developed a hardened steel sleeve that reinforces the input drum to prevent this failure. Applicable to early and late model units, this Chrome-Moly steel sleeve comes with a reworked OEM clutch piston for a fast, simple and highly effective upgrade.</p>
        </li>

        <li>
          <p><strong>Top Tool:</strong> <a href="http://www.sonnax.com/TS-valve-body-layouts.html">Valve Body Layouts</a></p>
          <p class="meta">In a fast-changing global marketplace, rebuilders routinely see new, complex units that challenge the diagnostic and repair skills of even the most expert technicians. Sonnax valve body layouts are a great hit with rebuilders, who appreciate the diagnostic expertise provided by these detailed images of valve bodies and their critical line-ups in addition to the listing of key complaints and repair solutions.</p>
        </li>
      </ul>
      <p>Sonnax thanks all of the <em>Transmission Digest</em> readers who voted in this annual contest. If you are interested in providing us with feedback on our products and services, please call (800) 843-2600, 8:30 a.m. to 5 p.m. ET, or use <%= link_to 'this form', new_contact_path %> to contact us online at any time.</p>
    </li>

    <li id="tasceurope">
      <h2>International TASC Force meeting</h2>
      <em class="published-date">February 15, 2010</em>
      <p>The Sonnax TASC Force met in Europe last month, bringing together experts from than 11 countries to tackle industry developments and technical challenges faced by today&#8217;s transmission specialists.</p>
      <p>The Sonnax TASC Force is composed of experienced transmission rebuilders and technicians with a hands-on understanding of the latest units and industry developments. Working closely with Sonnax design engineers and technicians, TASC Force members contribute product ideas, test new products and troubleshoot results, then meet on a regular basis to compare findings. Members play an invaluable role in identifying the root causes of transmission problems and supporting the development of Sonnax transmission products for the automotive aftermarket industry.</p>
      <p>Ganzeboom Transmissies in Almelo, Netherlands, hosted the Jan. 22-23 TASC Force meeting. For the first time, traditional participants from the U.S. and Western Europe sat side by side with their counterparts from Eastern Europe and the Middle East, a reflection of the automotive industry&#8217;s increasingly global nature. Attendees included Sonnax representatives as well as individuals from Belgium, Germany, Latvia, Sweden, the Netherlands, Poland, Russia, Saudi Arabia, Switzerland, the U.K. and the U.S.</p>
      <p>The two-day event focused on roundtable discussion as well as hands-on workshops in the Ganzeboom facility. Bob Warnke, Sonnax V.P. of Technical Development, presented and moderated the group&#8217;s technical exchanges and discussions on market trends, product feedback and new product idea development. Sonnax also introduced to the group its first on-site European representative, Nelson Harmon, who is stationed in Amsterdam.</p>
      <p>&#8220;Working with industry leaders in the European automotive aftermarket is one of the most important ways in which Sonnax pursues timely, effective product development,&#8221; said Steve Jassaud, Sonnax V.P. of Sales. &#8220;The recent TASC Force meeting was an opportunity to demonstrate that we are listening and responding with real solutions for transmission rebuilders around the world.&#8221;</p>
      <p><%= link_to 'Learn more about the Sonnax TASC Force', tasc_force_path %></p>
    </li>

    <li id="haiti">
      <h2>Sonnax reaches out to Haiti</h2>
      <em class="published-date">February 8, 2010</em>
      <p>One hundred and forty Sonnax employees recently pulled together in response to the Haiti earthquake crisis, helping the company contribute more than $5,500 to the Clinton Bush Haiti Fund.</p>
      <p>Sonnax President and CEO Tommy Harmon initiated the company-wide fund-raising effort soon after a 7.0 magnitude earthquake on Jan. 12, 2010, devastated the country of Haiti. &#8220;I thought it was important that everyone who was in a position to contribute money to the people of Haiti did so,&#8221; said Harmon. &#8220;Sonnax is fortunate enough to be in that position.&#8221;</p>
      <p>Sonnax offered to match up to $2,000 in employee contributions to the Haiti Fund as well as any other organization they chose to support for that country&#8217;s relief efforts. This amount was quickly upped to $3,000, however, when employees hit the initial target in just a few days. Within two weeks, $2,754 had been contributed, bringing the total Sonnax donation to $5,508. In addition to accepting individual contributions, the company held a special spaghetti luncheon organized by Sonnax Maintenance Technician Steve Cheeney. Children of employees also raised and gave money of their own in support of the drive.</p>
      <p>&#8220;I am very proud of the compassion everyone has shown for people in Haiti,&#8221; said Harmon.</p>
      <p>More information on the Clinton Bush Haiti Fund may be found online at <a href="http://www.clintonbushhaitifund.org" rel="external">www.clintonbushhaitifund.org</a>.</p>
    </li>

    <li id="solarinstall">
      <h2>Sonnax to install solar power system</h2>
      <em class="published-date">December 2009</em>
      <p>Sonnax Industries has recently contracted to install a solar photovoltaic power generation system at the company headquarters in Bellows Falls, Vermont. The 102 kilowatt installation, contracted with <a href="http://grosolar.com/" rel="external">groSolar</a> of White River Junction, Vermont represents an investment of more than half a million dollars.</p>
      <p>&#8220;Adding solar power to our facility is a sound business decision,&#8221; said Sonnax CEO Tommy Harmon. &#8220;With the savings realized in energy costs, plus the tax incentives, the payback on our capital expenditure is approximately two years.&#8221; This solar power generation system will allow Sonnax to generate almost 20 percent of the electricity required for operations of the Vermont headquarters building. Since the power generated cannot be stored, power produced during times that exceed Sonnax&#8217;s consumption will be sold to the local power grid, further offsetting the costs.</p>
      <p>The installation of the solar power system is scheduled to be completed by the end of 2009. This is just another step in the ongoing Sonnax Green Initiative that, over the last few years, has slashed energy consumption and reduced the amount of waste Sonnax sends to the landfill.</p>
      <p>Over the past four years, the Sonnax Green Initiative has focused on reducing the company&#8217;s carbon footprint and instilling awareness among employees on their impact on the limited resources of our planet. Projects have ranged from simple gestures such as providing each employee with reusable shopping bags to major capital investments such as the solar power system. Along the way, Sonnax has reduced electricity consumption by 18%, propane usage by 25%, and cut dumpster waste to the landfill by half.</p>
      <p>CEO Harmon continues, &#8220;This is good for our community, good for our company, and good for our customers. Lower energy expenses are just one way we continuously reduce our operating costs, which help us keep our prices in check. We have made some impressive gains while the company continues to grow.&#8221;</p>
    </li>

    <li id="jasperaward" class="last">
      <h2>Sonnax receives Jasper Preferred Partner award</h2>
      <p>Sonnax has received a 2008 preferred Partner award from <a href="http://www.jasperengines.com" rel="external">Jasper Engines &amp; Transmissions</a> of Jasper, Indiana.  Sonnax was one of only two suppliers of transmission products receiving the award during Jasper&#8217;s 22nd Annual Preferred Partners Banquet in September.</p>
      <p>Tommy Harmon, President and CEO of Sonnax accepted the award on behalf of Sonnax. &#8220;We are honored to be recognized as a Preferred Partner by Jasper for the 4th consecutive year. It is a tribute to much hard work by and good communication between many Sonnax and Jasper staff members in the best tradition of partnership.&#8221; Bob Warnke, V.P. of Technical Development;  Seth Baldasero, Director of Remanufacturing Sales; and Joan Kainz, Sales Representative were also on hand for the awards ceremony.</p>
      <p>The Jasper Engines &amp; Transmissions Preferred Partner Award is presented annually to recognize the company&#8217;s Partners in Success.   Recipients are nominated by an individual within the Purchasing, Quality, Manufacturing or Payables divisions of the Jasper organization and are judged on Quality,  Service,  Fill-Rate,  Response Time to a Problem and Billing/Credit Procedures.</p>

      <div class="photo">
        <img alt="Jasper Award" src="/images/news-and-events/jasper.jpg" alt="" width="596" height="323">
        <em class="caption">Tommy Harmon, Sonnax CEO, holds 2008 the Jasper Preferred Partner Award accompanied (l. to r.) by Doug Bawel, President of Jasper; Joan Kainz, Seth Baldasero and Bob Warnke of Sonnax; Gary Bair, Jasper</em>
      </div>
    </li>
  </ul>
</div>
