<div id="news">
  <h1>Sonnax News</h1>

  <h2>Jasper Preferred Partner Award</h2>
  	<em class="date">September, 2009</em>
      <p>Sonnax has received a 2008 preferred Partner award from Jasper Engines &amp; Transmissions of Jasper, Indiana.  Sonnax was one of only two suppliers of transmission products receiving the award during Jasper's 22nd Annual Preferred Partners Banquet in September.

Tommy Harmon, President and CEO of Sonnax accepted the award on behalf of Sonnax. "We are honored to be recognized as a Preferred Partner by Jasper for the 4th consecutive year. It is a tribute to much hard work by and good communication between many Sonnax and Jasper staff members in the best tradition of partnership." Bob Warnke, V.P. of Technical Development;  Seth Baldasero, Director of Remanufacturing Sales; and Joan Kainz, Sales Representative were also on hand for the awards ceremony.

The Jasper Engines &amp; Transmissions Preferred Partner Award is presented annually to recognize the company's Partners in Success.   Recipients are nominated by an individual within the Purchasing, Quality, Manufacturing or Payables divisions of the Jasper organization and are judged on Quality,  Service,  Fill-Rate,  Response Time to a Problem and Billing/Credit Procedures.

</p>
<p><img alt="Jasper Preferred Partner Award" src="/images/news-and-events/jasper.jpg"></p>
<p><em class="caption">Tommy Harmon, Sonnax CEO, holds 2008 the Jasper Preferred Partner Award accompanied (l. to r.) by Doug Bawel, President of Jasper; Joan Kainz, Seth Baldasero and Bob Warnke of Sonnax; Gary Bair, Jasper.</em></p>

</div>
