<div id="news">
 <h1>Sonnax News</h1>

 <h2>Sonnax is pleased to offer torque converter friction rings from BorgWarner<sup>&reg;</sup>!</h2>
 	<em class="date">March 17, 2011</em>
	 <%= image_tag('/images/news-and-events/BWFrictionRings.jpg', :alt => 'BorgWarner Friction Rings', :class => 'Rphoto') %>
	 <p>BorgWarner torque converter friction rings are made from OE materials which rarely before have been available to the aftermarket. BorgWarner is widely known and respected in the transmission aftermarket as the leading supplier of OE friction products. Transmission bands, friction plates, one-way clutches and solenoids are among the transmission products manufactured for global OEMs by BorgWarner.</p>
	 <p><strong><%= link_to 'Click here', ('/downloads/torque-converter/SonnaxFrictionRingDetail.pdf'), :class => 'pdf' %> for complete charts detailing friction ring dimensions and part numbers</strong>.</p>
	 <p>The initial conversations between Sonnax and BorgWarner centered on the bonded friction products used in modern torque converters. BorgWarner is the OE supplier of many bonded friction plates now available through Sonnax. They also are the leading supplier of one-way clutch products (sprags, roller clutches) for torque converter applications. BorgWarner manufactures many additional bonded friction elements for late model converters which Sonnax customers will be seeing in years to come.</p>
	 <p>During these conversations, BorgWarner &ndash; for the first time &ndash; agreed to offer standard, adhesive-backed friction rings made of OE material. This was an exciting breakthrough; such a wide assortment of OE friction materials never before has been available to converter rebuilders. Three friction ring material options are available in a wide range of popular sizes, giving you the opportunity to rebuild converters using what we believe to be the most advanced material available anywhere.</p>
	 <ul class="article-list">
	 <li class="article-list"><strong>High Thermal Engaging (HTE)</strong> Now found in many OE applications, HTE material has the thermal capacity of Kevlar<sup>&reg;</sup>, with improved consistency and shudder resistance well suited to today's demanding applications. It is dark gray in color and available in 0.045" (1.14mm) and 0.066" (1.68mm) thicknesses as a replacement for Tan or Kevlar materials.</li>
	 <li class="article-list"><strong>High Thermal Slipping (HTS)</strong> This is the latest GM material and is the benchmark for consistency, durability and shudder resistance. HTS material is designed for slipping applications which require high thermal capacity. It is gray/green in color and available in 0.045" (1.14mm) and 0.066" (1.68mm) thicknesses as a replacement for spun-wound, woven or other carbon-based materials.</li>
	 <li class="article-list"><strong>High Thermal Lock-Up (HTL)</strong> One of the latest friction material developments from BorgWarner, HTL is designed for the most demanding torque-holding applications. Offered in 0.066" (1.68mm) thickness, its high thermal and exceptional torque capacity have already made it the new standard for torque capacity and durability in demanding &ldquo;Lock-Up&rdquo; applications.</li>
	 </ul>
	 <p><%= link_to 'Click here', ('/downloads/torque-converter/SonnaxFrictionRingDetail.pdf'), :class => 'pdf' %> for complete charts detailing friction ring dimensions and part numbers.</p>
	 <p>Sonnax is excited about the future and the BorgWarner rings we will be offering our customers. The benefits of the OE materials, the improved bonding and cutting-edge technology BorgWarner brings to the table are significant. We know you will be pleased with the performance of their products. New materials used for more extreme racing and severe duty applications will be introduced in the near future. We will keep you posted as additional news of these products become available.</p>
	 <p>We appreciate your support of Sonnax and look forward to a growing relationship with the BorgWarner products. Please visit our Torque Converter section or call your Sonnax representative for more information.</p>



</div>
