<div id="news-and-events">
  <h1>What's New</h1>
  <p>Even the best Web site in the industry occasionally needs a boost. Although you may not see every improvement right away, we've lately been hard at work behind the scenes to make our site better than ever.</p>
	<p>The biggest change you'll notice is the new and improved <%= link_to 'Sonnax Technical Library', technical_library_path %>. All of our great articles and guides are now searchable either by vehicle make and unit, or you can look up information by subject matter such as "Diagnostics and Theory" or "Valve Body Reaming." Looking for an article by a particular Sonnax or Sonnax TASC Force author? Find every article they've written or sort your search results to see what topics they've covered. Many of our online articles also are now in HTML, making them quick and easy to read any time, any place.</p>
	<p>More updates to the Sonnax Web site are planned for the coming months. Feel free to <%= link_to 'contact us', new_contact_path %> with comments and suggestions on how we can make sonnax.com work better for you.</p>
  <ul>
    <li><%= link_to 'News', news_list_path %></li>
    <li><%= link_to 'Events', events_list_path %></li>
  </ul>
</div>