<div id="news">
  <h1>Sonnax News</h1>

  <h2>TASC Force&trade; Meeting</h2>
  	<em class="date">May 10, 2011</em>
      <p>The <%= link_to 'Sonnax TASC Force', tasc_force_path %> held its first meeting of the year April 29-30, 2011, at Jasper Engines &amp; Transmissions in Jasper, Ind. The semi-annual gathering is an opportunity for aftermarket automatic transmission experts from around the world to examine problems facing the entire industry and discuss solutions.</p>
	  <%= image_tag('/images/news-and-events/Tasc-Jasper-2011_Meeting.jpg', :alt => 'Spring 2011 TASC Force Meeting', :class => 'Rphoto') %>
	  <p>The Sonnax Technical Automotive Specialties Committee (TASC) Force is composed of experienced transmission rebuilders and technicians who value technical innovations and have hands-on understanding of the latest units and industry developments. These professionals meet regularly to share their know-how, contribute product ideas, test new products and troubleshoot results with the understanding that everyone benefits when good ideas and products emerge from centuries of combined transmission wisdom.</p>
	  <p>Sixty participants from seven different countries attended the recent TASC Force meeting. Altogether, more than 22 companies specializing in transmission and torque converter rebuilding were represented. The presence of many torque converter technicians and specialists prompted a new level of discussion about problems and repairs outside of the transmission, such as transfer cases, torque converters and driveshaft slip yokes. TASC members also focused closely on strategies for improving the quality of component testing and CAN (Control Area Network) communication.</p>
	  <p>TASC meetings are held twice per year, typically with the spring meeting in the United States and a fall meeting held abroad. The next 2011 gathering is planned for October at Mackie Automatic Transmissions in Glasgow, Scotland.</p>
</div>
