<div id="news">
  <h1>Sonnax News</h1>

  <h2>Solar Panels Go Live at Sonnax Headquarters</h2>
  	<em class="date">March 8, 2010</em>
      <p>On Dec. 30, 2009, Sonnax began generating electricity from the solar photovoltaic power-generation system installed on the roof of its corporate headquarters in Vermont. An impressive array of 424 photovoltaic panels, which can generate up to 100KW of electricity, was put in place by <a href="http://www.grosolar.com">groSolar</a><sup>&reg;</sup> of White River Junction, Vt., on some of the coldest days of the winter.</p>

	<p>"This latest step in Sonnax's Green Initiative is good for our community, good for our company and good for our customers," stated Sonnax CEO Tommy Harmon. "Lower energy costs are just one way we continue to reduce operating costs and help keep prices in check."</p>

	<p>The solar panels will allow Sonnax corporate headquarters to generate almost 20% of its electricity requirements. Plus, the company will be able to sell its excess electricity back to the grid when the power produced exceeds Sonnax's consumption.</p>

	<p>"Such an unobtrusive installation is easy to overlook," said Harmon. "That is, until you see the savings in the electric bills. And the savings have begun and will only continue to grow."</p>

	<p>In addition to the solar panel installation, Sonnax implemented a number of environmentally-friendly programs during the past year. These included reducing its landfill refuse by 50% and propane usage by 25%, replacing old CRT monitors with energy-saving LCD monitors and eliminating manufacturing waste-water emissions through use of a reverse osmosis machine. The company also began participating in a Power Shed Program in cooperation with the electric company. Under this program, Sonnax will operate on its generator when requested to help reduce power consumption in the local grid demand. All of these initiatives complement an ongoing commitment to recycling and minimizing material waste.</p>

	
        <p><img alt="Sonnax Solar Panels" src="/images/news-and-events/Solar-Panels.jpg"></p>

</div>
