<div id="news">
  <h1>Sonnax News</h1>

  <h2>TASC Force&trade; Meeting</h2>
  	<em class="date">November 11, 2010</em>
      <p>The <%= link_to 'Sonnax TASC Force', tasc_force_path %> held a semi-annual meeting Oct. 15-16, 2010, in Lucerne, Switzerland, bringing together an international group of transmission experts for two days of technical talks hosted by TASC member Adrian Marty of Automaten-Meyer AG.</p>
	  <p>Expert transmission rebuilders and technicians from around the world make up the Sonnax TASC Force (Technical Automotive Specialties Committee). Working alongside Sonnax engineers and technicians, they willingly share their hands-on knowledge of the latest units and industry developments to generate product ideas, test new parts, troubleshoot results and discuss and compare findings. Their efforts help provide answers and repairs for the entire transmission industry.</p>
	  <p>The TASC meeting began with a full day of discussion focused on new Sonnax projects, current transmission challenges and product proposals. Sonnax Product Line Manager Mark Kaplan noted that many of the new parts released in 2010 were a direct result of the group's European meeting the fall before. TASC members at that time had expressed a clear need for TR60-SN, ZF6HP26 and 5R55N valve body components, and the Sonnax team responded with the timely release of new repairs.</p>
	  <p>"We've been getting lots of great new project ideas from the European members of TASC Force," said Kaplan. "They have many opportunities to see newer units in their shops long before we see them here in the States."</p>
	  <p>The TASC meeting continued the second day on the floor of the Automaten-Meyer AG remanufacturing facility with hands-on demonstrations of new products and previews of those in progress. Bob Warnke, Sonnax V.P. of Technical Development, demonstrated rebuilding techniques for the new Aisin AW five- and six-speed valve bodies which incorporate linear solenoids for critical clutch-to-clutch shift timing.</p>
	  <p>The Sonnax TASC Force will hold its next meeting in Spring 2011 at Jasper Engines and Transmission in Jasper, Ind.</p>

</div>
