<div id="news">
  <h1>Sonnax News</h1>

  <div id="col-1">
  <h2>Sonnax TASC Force Tackles Transmissions of Today &amp; Tomorrow </h2>
  	<em class="date">May 10, 2010</em>
      <p>Fifty members of the Sonnax TASC Force gathered in Philadelphia April 23-24, 2010, for roundtable discussion and technical sessions designed to facilitate the development of cutting-edge transmission solutions.</p>
	<p>The Sonnax TASC Force (Technical Automotive Specialties Committee) is composed of expert transmission rebuilders and technicians with a hands-on understanding of the latest units and industry developments. Working closely with Sonnax design engineers and technicians, TASC Force members contribute product ideas, test new fixes and troubleshoot results, then meet on a regular basis to compare findings. Members play an invaluable role in identifying the root causes of transmission problems and supporting the development of Sonnax transmission products for the automotive aftermarket.</p>
	<p>The April TASC Force meeting was attended by Sonnax representatives as well as transmission specialists from the U.S. and abroad. Hosted by ValveBody Xpress, the event kicked off April 23 with a full day of talks and presentations on current and future rebuilding challenges. Steve Jaussaud, Sonnax V.P. of Sales, updated the group on a number of projects in development, many of which trace their origins to previous TASC Force discussions. Attendees spent the second day at the brand new, 31,000+ square foot VBX facility getting hands-on with Sonnax prototypes and newly released products. VBX specialists also introduced the group to specialized equipment and testing procedures used to ensure quality remanufactured valve bodies.</p>
	<p>"This was one of our best meetings yet, with strong attendance from both our U.S. and European TASC Force members," said Mark Kaplan, Sonnax Transmission Specialties Product Line Manager. "Thanks to them, Sonnax is getting earlier information on the newest units hitting the industry, allowing us to stay ahead of the development curve."</p>
	</div>
	
  <div id="col-2">
        <img alt="Sonnax Tasc Force" src="/images/news-and-events/TASC-April-2010.jpg" alt="" width="220" height="226">
        <p><em class="caption">Sonnax VP of Sales Steve Jassaud talks to TASC Force members about current and upcoming project development, which includes an increasing focus on non-traditional transmission challenges such as those found in CVT valve bodies.</em></p>
	</div>

</div>
