<div id="news">
  <h1>Sonnax News</h1>

  <h2>Sonnax Announces Employee Ownership</h2>
  	<em class="date">January 3, 2011</em>
      <p>Sonnax Industries is pleased to announce the formation of an Employee Stock Ownership Plan (ESOP) for its employees.  In an ESOP, the company sets up a trust fund which owns shares of the company stock.  In the case of Sonnax, the trust will own 100% of the company stock.  Shares in the trust are allocated to individual employee accounts.  As employees accumulate seniority with the company, they acquire increased vesting in those shares.</p>
	  <p>Sonnax President and CEO Tommy Harmon commented, "Since Rick Fritz and I acquired Sonnax in 2005, the company has grown tremendously and Sonnax has become a more valuable supplier to the markets we serve.  The ESOP is the ultimate way to reward our employees for their contributions to the success of Sonnax.  From now on when customers, suppliers, or other stakeholders are interacting with Sonnax personnel, they will be dealing with an owner."</p>
	  <p>Harmon continued, "The overriding benefit of the ESOP is that it allows employees to participate in the growth and success of the company.  Additionally, the ESOP should be instrumental to Sonnax in attracting and retaining the best talent in our industry."</p>
	  <p>Tommy Harmon will retain his position as CEO of the company, and Harmon and partner Rick Fritz will remain on the company's board of directors.  The existing management team will remain in place, and the company is committed to remaining in Vermont, where it will continue as a significant employer in the area.</p>
	  <p>Sonnax is a diversified supplier of specialized drivetrain products to the automotive and commercial vehicle industries, and to industrial sectors utilizing drivetrain technology.  Sonnax is headquartered in Bellows Falls, Vermont and has sales offices and tech centers in strategic locations around the world.</p>


</div>
