<div id="news">
  <h1>Sonnax News</h1>

  <h2>Transmission Digest Top 10 of 2010 Winner</h2>
  	<em class="date">February 22, 2010</em>
      <p>The automotive journal <a href="http://www.transmissiondigest.com/"><em>Transmission Digest</em></a> announced in its February 2010 issue that Sonnax won three spots in its annual top 10 contests. The magazine asked readers to pick the year's best tools, equipment, products and services available to transmission repair facilities.</p>
	  <p><img alt="Sonnax 2010 Top Ten Winners" src="/images/news-and-events/winners2.jpg" alt=""></p>
	  <h3>Top Product: <a href="/product-lines/high-performance-transmission/parts/3190">Kryptonite&trade; Rear Stator Bushing</a></h3>
		<p>For maximum durability, Sonnax created a precise fitting and extremely wear-resistant Teflon<sup>&reg;</sup> (PTFE) lined replacement bushing. [It] is the best option for supporting the 20 lb. input housing and improving the reliability of 4L60 and 4L60-E/65-E/70-E units. There is nothing in the aftermarket to match the fit and durability of this winner.</p>
	  <h3>Top Product: <a href="/product-lines/transmission/parts/2934">4L60/4L60E Input Drum Reinforcing Kit</a></h3>
	  	<p>The GM 4L60 and 4L60-E/65-E/70-E drum assembly is known to crack where the input shaft is pressed into it (where the overrun clutch rides). Sonnax developed a hardened steel sleeve that reinforces the input drum to prevent this failure. Applicable to early and late model units, this Chrome-Moly steel sleeve comes with a reworked OEM clutch piston for a fast, simple and highly effective upgrade.</p>
	  <h3>Top Tool: <%= link_to 'Valve Body Layouts', valve_body_layouts_path %></h3>
	  	<p>In a fast-changing global marketplace, rebuilders routinely see new, complex units that challenge the diagnostic and repair skills of even the most expert technicians. Sonnax valve body layouts are a great hit with rebuilders, who appreciate the diagnostic expertise provided by these detailed images of valve bodies and their critical line-ups in addition to the listing of key complaints and repair solutions.</p>
		<p>Sonnax thanks all of the Transmission Digest readers who voted in this annual contest. If you are interested in providing us with feedback on our products and services, please <%= link_to 'contact us', new_contact_path %>.</p>


</div>
