<div id="news">
  <h1>Sonnax News</h1>

  <h2>The Sonnax Green Initiative Goes Solar</h2>
  	<em class="date">December 1, 2009</em>
      <p>Sonnax Industries has recently contracted to install a solar photovoltaic power generation system at the company headquarters in Bellows Falls, Vermont. The 102 kilowatt installation, contracted with groSolar of White River Junction, Vermont represents an investment of more than half a million dollars.</p>
	  <p>"Adding solar power to our facility is a sound business decision," said Sonnax CEO Tommy Harmon. "With the savings realized in energy costs, plus the tax incentives, the payback on our capital expenditure is approximately two years." This solar power generation system will allow Sonnax to generate almost 20 percent of the electricity required for operations of the Vermont headquarters building. Since the power generated cannot be stored, power produced during times that exceed Sonnax's consumption will be sold to the local power grid, further offsetting the costs.</p>
	  <p>The installation of the solar power system is scheduled to be completed by the end of 2009. This is just another step in the ongoing Sonnax Green Initiative that, over the last few years, has slashed energy consumption and reduced the amount of waste Sonnax sends to the landfill.</p>
	  <p>Over the past four years, the Sonnax Green Initiative has focused on reducing the company's carbon footprint and instilling awareness among employees on their impact on the limited resources of our planet. Projects have ranged from simple gestures such as providing each employee with reusable shopping bags to major capital investments such as the solar power system. Along the way, Sonnax has reduced electricity consumption by 18%, propane usage by 25%, and cut dumpster waste to the landfill by half.</p>
	  <p>CEO Harmon continues, "This is good for our community, good for our company, and good for our customers. Lower energy expenses are just one way we continuously reduce our operating costs, which help us keep our prices in check. We have made some impressive gains while the company continues to grow."</p>

</div>
