<div id="customer-testimonials">
  <h1>Customer Testimonials</h1>

  <ul>
    <li>
      <h2>Towing or Downtime</h2>
      <blockquote>We like the PowerTrainSaver for saving drive shafts; we have also found that there is no back lash damage to the truck. The Torque Fuses can handle the heavy work we do, and will shear when we need them to. It eliminates our downtime and hauling our trucks in for repairs.</blockquote>
      <cite>Marvin Sheehan Services Grimshaw, Alberta</cite>
    </li>

    <li>
      <h2>Saved Bacon</h2>
      <blockquote>We had just installed a PowerTrainSaver on one of our a brand new TWS 400 pumps. I was pressure testing and thought I had kicked out the pump and hadn’t.....and I over pressured it. The Torque-Fuses sheared during the over pressure and saved my bacon! Without the PowerTrainSaver Torque-Fuses in place I would have wrecked a $100,000 pump. Good thing we had it on there!</blockquote>
      <cite>Trevor Burrell, Equipment Operator, JACAR Hot Oil Service Ltd., Taber, AB</cite>
    </li>

    <li>
      <h2>No Down Time!</h2>
      <blockquote>We have had really good success with the PowerTrain Savers on our 20 truck tractors. We have been using them for 3 years now and have had no down time. We used to have differential breakage 4 or 5 times a year, costing us $4,000 - $5,000 each time. Now we have no breakage and no down time which is a huge saving in both time and money!</blockquote>
      <cite>Bill Rettie, Management Team of Bill McColman Oilfield Hauling - Alberta.</cite>
    </li>

    <li>
      <h2>Better Than Sliced Bread?</h2>
      <blockquote>The PowerTrain Saver is the neatest thing since sliced bread! We have the PTS on twelve T600 Kenworth farm trucks used in our potato fields. Prior to using the PTS on our trucks we were losing driveshafts, rear ends, axel shafts, transmissions and clutches and tearing up motor mounts. This is the first year since installing the PowerTrain Saver we have had none of the above losses. We highly recommend this product to anyone who wants to stop component damage on their trucks.</blockquote>
      <cite>Bruce Allen, Truck Technician for Strebin Farms - Oregon</cite>
    </li>

    <li>
      <h2>Service Rigs in Siberia</h2>
      <blockquote>We are using the PowerTrainSaver on both our Kremcos service rigs. They are a very good product. They have saved us twisting off a drive-line or worse a time or two already. Wish I had them years ago on my other rigs, might have saved my butt from crawling around a nasty rig in the middle of the night changing a twisted off drive line. I would recommend them to anyone using service rigs.</blockquote>
      <cite>Ken Ott Luk-Oil, Siberia, Russia</cite>
    </li>

    <li>
      <h2>Santa Fe Sanitation</h2>
      <blockquote>We have the PowerTrain Saver on our garbage trucks and ever since putting them on we haven't had a ring and pinion out yet! Except! Oh ya, one time we did blow a differential, but found out it was on one of our trucks that didn't have a PowerTrain Saver on it yet. We now have PowerTrain Savers specked into our new trucks.</blockquote>
      <cite>Jerry Monarski, Equipment Manager, Solid Waste Division, City of Santa Fe, New Mexico</cite>
    </li>

    <li class="last">
      <h2>No Brainer</h2>
      <blockquote>The PowerTrainSaver is a no-brainer!”, says Wade of Basnett Truck Services who is in the oilfield rig-moving business. “Compare the parts we were breaking before we were using PowerTrainSavers - planetary gears and drive shaft yokes. With our bed truck rate of $450.00 per hour we can't afford to have down time. Now we have the Torque Fuses on our Bed Trucks and our Winch Tractors!</blockquote>
      <cite>Wade, Basmett Truck Services</cite>
    </li>
  </ul>
</div>