<div id="frequently-asked-questions">
  <h1>Frequently Asked Questions</h1>

  <%= image_tag('power-train-savers/FAQs.png', :width => 593, :height => 432, :alt => 'Frequently Asked Questions') %>
</div>