<div id="publication-glossary">
  <h1>Glossary of Sonnax Publications</h1>
  
  <dl>
    <dt>Transmission Specialties&reg; Technical Bulletins</dt>
    <dd><p>Sonnax publishes a quarterly Technical Bulletin for transmission rebuilders featuring technical tips and new products.</p></dd>
    
    <dt>TASC Force&trade; Technical Tips</dt>
    <dd><p>Monthly technical articles written by members of the <%= link_to 'Sonnax TASC Force&trade;', tasc_force_path %> are published in <em>Transmission Digest</em> magazine.</p></dd>
    
    <dt>Transmission Specialties&reg; Technical Articles</dt>
    <dd><p>All the technical articles included in present and past Transmission Specialties&reg; catalogs help to make our catalogs a valuable shop resource for years.</p></dd>
    
    <dt>Torque Converter Journals</dt>
    <dd><p>Quarterly newsletters offer torque converter builders technical and product specific information.</p></dd>
    
    <dt>Torque Converter Technical Tips</dt>
    <dd><p>These articles, published in <em>Transmission Digest</em> magazine, provide advice and solutions for common problems facing torque converter rebuilders</p></dd>
    
    <dt>Torque Converter Technical Articles</dt>
    <dd><p>These technical articles from Sonnax Torque Converter catalogs offer general troubleshooting tips and specific application and product information.</p></dd>
  </dl>  
</div>