<h2>Become a Sonnax Insider</h2>
<p>Sign up now for these great benefits</p>
<ol>
  <li>Receive quarterly Sonnax newsletters.</li>
  <li>Be the first to know about new Sonnax products.</li>
  <li>Get the schedule of appearances by Sonnax representatives.</li>
  <li>Enter our monthly contest to win a SonnaFlow.</li>
</ol>

<div class="subscribe-insider">
  <form method="post" action="#">
    <fieldset>
      <legend>Your E-Mail Information</legend>
      
      <div class="email">
        <label for="insider_email">E-Mail Address</label>
        <input type="text" name="email" id="insider_email">
      </div>
    </fieldset>
    <fieldset class="submit">
      <div class="submit">
        <input type="submit" name="submit" value="Subscribe">
      </div>
    </fieldset>
  </form>
</div>

<div class="contest-winners">
  <h3>Our previous monthly contest winners</h3>
  <ol>
    <li>
      <p><span class="date">December, 2009</span> &#8212; Paul Davies of Canton, IL</p>
    </li>
  </ol>
</div>
