<div id="subscribe-to-newsletter">
  <h1>Subscribe to our E-Mail Newsletter</h1>
  <p>Start your Sonnax E-news subscription by entering your e-mail address below.</p>
  
  <div class="cc-form group">
    <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" method="post">
      <fieldset>
        <legend>E-Mail Information</legend>
        <input type="hidden" name="m" value="1101913914829">
        <input type="hidden" name="p" value="oi">

        <div class="text email">
          <label for="email_address">E-Mail Address</label>
          <input type="text" name="ea" size="40" value="" id="email_address">
        </div>

        <div class="submit">
          <input type="submit" name="go" value="Subscribe" class="submit">
        </div>
      </fieldset>
    </form>
    
    <div class="safe-subscribe group">
      <a href="http://www.constantcontact.com/safesubscribe.jsp"><img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""></a>
    </div>
  </div>

  <h2>Sonnax Terms and Conditions</h2>
  <p>By submitting your information, you agree to receive emails from Sonnax. You may unsubscribe at any time.</p>

  <h2>Privacy Policy</h2>
  <p>The information you provide will remain private with Sonnax, we will never sell or give your personal information to any other party. The only information we maintain is the data you provide to us.</p>
</div>