<div id="tasc-force">
  <div id="col-1">
    <h1>TASC Force</h1>
    <p>The Sonnax TASC Force plays an invaluable role in identifying the root causes of transmission problems and supporting the development of transmission products for the automotive aftermarket industry. The TASC Force is composed of experienced transmission rebuilders and technicians who value technical innovations and have hands-on understanding of the latest units and industry developments. Working closely with Sonnax design engineers and technicians, TASC Force members contribute product ideas, test new products, trouble-shoot results, and get together on a regular basis to listen, discuss, and compare findings. They willingly share their know-how, with the understanding that everyone benefits when good ideas and products emerge from centuries of combined transmission wisdom.</p>
    <p><%= image_tag('tascforce-small.jpg', :width => 108, :height => 68, :alt => 'TASC Force') %> When you see the &#8220;TASC Force Approved&#8221; logo on a Sonnax product, it means the product has passed stringent testing by Sonnax and by TASC Force member shops. &#8220;TASC Force Approved&#8221; provides added assurance that this part has been studied, tested and endorsed by some of the most savvy technicians and rebuilders in the industry.</p>

    <h2>2010 TASC Force Meeting</h2>
    <p>The 2010 TASC Force meeting took place Jan. 22-23 at Ganzeboom Transmissies in Almelo, Netherlands. The two-day international event focused on discussion plus hands-on workshops in the Transmissies facility.</p>
    <p>Bob Warnke, Sonnax V.P. of Technical Development, presented and moderated the group&#8217;s technical exchanges and discussions on market trends, product feedback and new product idea development. A reflection of the automotive industry&#8217;s increasingly global nature, attendees included Sonnax representatives as well as individuals from Belgium, Germany, Latvia, Sweden, the Netherlands, Poland, Russia, Saudi Arabia, Switzerland, the U.K. and the U.S.</p>
    
    <div class="photo half">
      <%= image_tag('scott-tascforce-page.jpg', :width => 258, :height => 185, :alt => 'Scott TASC Force') %>
      <em class="caption">Sonnax Transmission Technical Specialist Gregg Nader (center) and Technical Group Manager Scott Jackson (right) led one afternoon&#8217;s workshop on valve body reaming procedures, inspection and vacuum testing. Here, Nader demonstrates reaming with a Sonnax valve body reaming fixture.</em>
    </div>
  </div>
  
  <div id="col-2">
    <div class="testimonies">
      <div class="photo whole">
        <%= image_tag('tables-tascforce.jpg', :width => 290, :height => 164, :alt => 'TASC Force') %>
        <em class="caption">2010 TASC Force meeting in the Netherlands</em>
      </div>
      
      <h3>What people are saying about why the TASC force is so important to this industry</h3>

      <ul>
        <li>
          <blockquote>We have always looked at what causes failures, as well as what actually failed. This is the only true way of doing a great job for our customers. By becoming involved with the TASC Force, and using Sonnax products religiously, we are better able to do just that.</blockquote>
          <cite>Scott MedoriParkland Transmission Red Deer, Alberta, Canada</cite>
        </li>

        <li>
          <blockquote>Sonnax and the TASC Force have invested thousands of hours in testing. The results of these efforts allow the transmission industry to produce a quality product at a competitive price.</blockquote>
          <cite>Dale Desveaux&#8212;Dale&#8217;s Transmission, Napanee, Ontario, Canada</cite>
        </li>

        <li>
          <blockquote>The TASC Force is another example of what happens when people in this industry get together to address common issues. The people I've met on the TASC Force are some of the sharpest in the industry and the work they do helps the entire industry Keep it up.</blockquote>
          <cite>Dennis Madden&#8212;CEO ATRA/Gears</cite>
        </li>

        <li>
          <blockquote>Transmission Digest continues to depend on the TASC Force for answers and explanations our readers need to address everyday rebuilding issues and seldom encountered pitfalls in their shop operations. Our TASC Force Tips column is highly regarded by an avid and interested readership.</blockquote>
          <cite>Bobby Mace&#8212;Publisher Transmission Digest</cite>
        </li>

        <li class="last">
          <blockquote>The TASC Force has been very helpful in addressing the needs and problems of the European, and especially the U.S. market, yes.</blockquote>
          <cite>Adrian Marty&#8212;Automaten-Meyer AG</cite>
        </li>
      </ul>
    </div>
  </div>
</div>
