<div id="terms-and-conditions">
  <h1>Terms &amp; Conditions</h1>
  
  <div id="terms" class="group">
    <p>This website and all of its contents are the intellectual property of Sonnax Industries, Inc. No portion of this work may be reproduced or transmitted in any form or by any means, mechanical or electronic, including photocopying and/or recording, or by any other information storage and/or retrieval system without the prior written consent of Sonnax Industries, Inc. Sonnax customers may use the part numbers only for the limited purpose of placing orders with Sonnax or otherwise operating their business, but in no case is permission granted to any customer, business entity, or individual to utilize the part numbers in order to compete with Sonnax.</p>
	<p>While every care has been taken in the compilation of information and materials on this website, we cannot guarantee that inaccuracies will not occur or that this information will remain accurate over time. The information and materials on this website are provided &ldquo;as is&rdquo; and without warranties or conditions of any kind either expressed or implied.</p>
  </div>
</div>