<div id="terms-and-conditions">
  <h1>Warranty Policy</h1>
  
  <div id="terms" class="group">
    <p>Sonnax warrants to the purchaser that each part manufactured or supplied by Sonnax will be free from defects in material or in factory workmanship. The warranty period shall extend for six (6) months from the date of sale. Sonnax must receive all warranty claims before the end of the warranty period.</p>
	<p>If Sonnax determines that the part is defective in material or in factory workmanship, Sonnax will, at its option, repair or replace the defective part, or issue an account credit for the purchase price. This remedy is Sonnax's sole liability and the sole remedy provided by Sonnax for any breach of warranty.</p>
	<p>All warranty returns must be pre-approved. Please contact Sonnax if you have a part to be returned under this warranty.</p>
	<p>This Warranty will not cover: Removal and replacement labor costs; Loss of time, inconvenience or other consequential damage; Any Sonnax part that has been: Subject to misuse, negligence; alteration or improper maintenance; Improperly installed in the judgment of Sonnax, so as to adversely affect its performance and reliability.</p>
	<p>This warranty is the only warranty applicable to parts manufactured or supplied by Sonnax, and is expressly in lieu of any other warranties, expressed or implied, including any implied warranty of merchantability or fitness for a particular purpose. Any representations or descriptions in brochures, ads or catalogs are approximate only and will not create any warranty or other obligation by Sonnax. There are no warranties which extend beyond the description on the face hereof.</p>
	<p>Sonnax does not authorize any person to create for it any other obligation or liability in connection with these parts. Sonnax shall not be liable for any incidental or consequential damage, lost profits, lost savings or punitive damages resulting from any breach of warranty.</p>
  </div>
</div>