<h1>Add a new Distributor</h1>
<% form_for :distributor, @distributor, :url => admin_distributors_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <div class="submit">
    <%= f.submit 'Save' %> or <%= link_to 'Cancel', admin_distributors_path, :class => 'cancel' %>
  </div>
<% end %>