<div id="technical-library">
  <h1>Technical Library</h1>
  <p>Sonnax offers a broad range of resources to help technicians stay on top of developments in the automatic transmission industry. Whether you're troubleshooting a problematic valve body or looking for rebuilding tips and tricks from the pros, you'll find no better online resource. Plus, we're always adding new content to keep you and your shop on the cutting edge, so be sure to check back often to see what's new from Sonnax.</p>
  
  <h2>Select your topic:</h2>
  <ul>
    <li><%= link_to 'Transmission', technical_library_detail_path('transmission') %></li>
    <li><%= link_to 'Torque Converter', technical_library_detail_path('converter') %></li>
  </ul>

</div>