<div id="technical-library">
  <h1>Technical Library</h1>
  <p>Sonnax offers a broad range of publications to help technicians stay abreast of developments in automatic transmission rebuilding. Select from one of the publication types below for a list of articles to read online or print. Click on underlined text for <%= link_to 'a brief description of Sonnax publications', publication_glossary_path %> or to <%= link_to 'request a catalog', new_catalog_request_path %>.</p>
  
  <h2>Select from the list below to access our pertinent technical resources.</h2>
  <ul class="publications group">
    <li><%= link_to 'Transmission', technical_library_detail_path('transmission') %></li>
    <li><%= link_to 'Torque Converter', technical_library_detail_path('converter') %></li>
  </ul>

</div>