<h1><%= @publication_category.name %></h1>


<% if @publication_category.publications? %>
  <% @publication_category.publications.each do |publication| %>
    <p><%= link_to publication.title, publication_category_publication_title_path(@publication_category.url_friendly, publication.url_friendly) %></p>
  <% end %>
<% end %>