<div id="solenoid-thanks">
  <h2>Your Solenoid Information is on its way!</h2>
  <p>Become a Sonnax Insider and receive new product updates, industry news, tech tips and more!</p>
  <p class="more"><%= link_to 'Learn more', sonnax_insider_path %> or <%= link_to 'subscribe now', subscribe_to_email_newsletter_path %></p>
</div>