<h1><%= @type.title %></h1>

<% if @type.publications? %>
  <ul>
  <% @type.publications.each do |publication| %>
    <li><%= link_to publication.title, publication_title_path(publication.url_friendly) %></li>
  <% end %>
  </ul>
<% end %>