<h1>Add a new Part</h1>
<% form_for :part, @part, :url => admin_parts_path, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <div class="submit">
    <%= f.submit 'Save' %> or <%= link_to 'Cancel', admin_parts_path, :class => 'cancel' %>
  </div>
<% end %>