<h1>Edit: <%= @user.login %></h1>
<% form_for :user, @user, :url => admin_user_path(@user), :html => { :method => :put } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <div class="submit">
    <%= f.submit 'Save' %> or <%= link_to 'Cancel', admin_users_path, :class => 'cancel' %>
  </div>
<% end %>