<div id="publication-subjects">
  <h1>Publication Subjects</h1>

  <div class="add-new"><%= link_to 'Add New Subject', new_admin_publication_subject_path, :class => 'create' %></div>
  <% if @publication_subjects.any? %>
    <table cellpadding="0" cellspacing="0" summary="Listing of Publication Subjects" width="100%">
      <thead>
        <tr>
          <th>Title</th>
          <th class="options"></th>
        </tr>
      </thead>
      <tbody>
        <% @publication_subjects.each do |publication_subject| %>
        <tr id="<%= dom_id(publication_subject) %>">
          <td><%= publication_subject.title %></td>
          <td class="options">
            <ul>
              <li><%= link_to 'Edit', edit_admin_publication_subject_path(publication_subject), :class => 'edit' %></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <p>There are no Publication Subjects.</p>
  <% end %>
</div>

