<div id="news-and-events">
  <div id="col-1">
    <h1>Sonnax Roadshow</h1>
    <h2>Valve Body Diagnostics &amp; Reaming Seminars</h2>
    <img src="/images/road-show/ReamingStationcap.jpg" class="Rphoto" alt="A live reaming and testing station will be set up at the seminar along with cameras and a projection screen to get you close to the action!">
    <h3>The Sonnax message is simple:</h3>
    <p>To fix that transmission right, you have to fix the valve body, and sometimes the only way to do that is to ream the bore.</p>
    <p>Join us for an upcoming Sonnax Roadshow seminar where you will learn how to diagnose and salvage valve bodies with highly effective repairs to restore transmissions to standards meeting or exceeding OE.</p>

    <ul class="seminar-list">
      <li class="seminar-list">How to evaluate a valve body</li>
      <li class="seminar-list">Advanced testing procedures</li>
      <li class="seminar-list">Understanding Sonnax repairs</li>
      <li class="seminar-list">The ins and outs of reaming</li>
    </ul>
    <p>Sonnax techniques and products are trusted by the industry's top transmission specialists and rebuilders. Come find out how it's all done!</p>
    <img src="/images/road-show/ScaryValveBody.jpg" class="Rphoto" alt="Tough valve bodies don't scare Sonnax...and they shouldn't scare you">
    <h3>Plus!</h3>
    <ul>
      <li>Dinner's on us 5:30-6:30 p.m.*</li>
      <li>Technical Handouts</li>
      <li>Free Testing Materials</li>
      <li>$25 VB-FIX Rebate</li>
    </ul>
    <p>* April 1 Seminar Hpspitality Reception is at 7:30 p.m.</p>
    <h3>To sign-up for a seminar, call the hosting distributor.</h3>
  </div>
  <div id="col-2">
    <h1>Upcoming Seminars</h1>
    <ul>
      <li class="enventlist"><strong>March 17 at 5:30-8:30 p.m.<br>
        DACCO<br></strong>
      2301 North 35th Ave.<br>
      Phoenix, AZ 85009<br>
      (602) 269-6411</li>

      <li class="enventlist"><strong>April 1 at 6:00 - 7:30 p.m.<br>
        Transmission Parts Supply<br></strong>
      DiamondJacks Casino &amp; Resort<br>
      711 Diamond Jacks Blvd.<br>
      Bossier City, LA 71111<br>
      (800) 527-8782</li>

      <li class="enventlist"><strong>April 7 at 5:30-8:30 p.m.<br>
        VTP Trans Parts South<br></strong>
      7025 Camden Ave.<br>
      Pennsauken, NJ 08110<br>
      (856) 488-4451</li>

      <li class="enventlist"><strong>May 12 at 5:30-8:30 p.m.<br>
        Transtar Industries<br></strong>
      4290 Seaboard Road<br>
      Orlando, FL 32808<br>
      (407) 299-4400</li>

      <li class="enventlist"><strong>June 9 at 5:30-8:30 p.m.<br>
        Midwest Trans Supply<br></strong>
      8625 I St.<br>
      Omaha, NE  68127<br>
      (402) 731-4500</li>

    </ul>
    <p class="event">More seminars are planned throughout the year. Check back often for the latest Sonnax Roadshow schedule.</p>
  </div>
</div>
