<div id="news-and-events">
  <div id="col-1">
    <h1>Sonnax Roadshow</h1>
    <h2>Valve Body Diagnostics &amp; Reaming Seminars
	<img src="/images/road-show/ReamingStationcap.jpg" class="Rphoto" alt="A live reaming and testing station will be set up at the seminar along with cameras and a projection screen to get you close to the action!"></h2>
    
    <h3>The Sonnax message is simple:</h3>
    <p>To fix that transmission right, you have to fix the valve body, and sometimes the only way to do that is to ream the bore.</p>
	<p>Join us for an upcoming Sonnax Roadshow seminar where you will learn how to diagnose and salvage valve bodies with highly effective repairs to restore transmissions to standards meeting or exceeding OE.</p>
 
		<ul class="seminar-list">
			<li class="seminar-list">How to evaluate a valve body</li>
			<li class="seminar-list">Advanced testing procedures</li>
			<li class="seminar-list">Understanding Sonnax repairs</li>
			<li class="seminar-list">The ins and outs of reaming</li>
		</ul>
	
	<p><br><img src="/images/road-show/ScaryValveBody.jpg" class="Rphoto" alt="Tough valve bodies don't scare Sonnax...and they shouldn't scare you">Sonnax techniques and products are trusted by the industry's top transmission specialists and rebuilders. Come find out how it's all done!
	
	</p>
    <h3>Plus!</h3>
	<ul>
		<li>Dinner's on us 5:30-6:30 p.m. <span class="note">(evening seminars only)</span></li>
		<li>Technical Handouts</li>
		<li>Free Testing Materials</li>
		<li>$25 VB-FIX Rebate</li>
	</ul>

  <h3>To sign up for a seminar, call the hosting distributor.</h3>
  
  </div>
  
  <div id="col-2">
	<h1>Upcoming Seminars</h1>
	  <ul>
		<li class="enventlist"><strong>June 9 at 5:30-8:30 p.m.<br>
		Midwest Trans Supply<br></strong>
		8625 I St.<br>
        Omaha, NE  68127<br>
        (402) 731-4500</li>
		
		<li class="enventlist"><strong>June 30 at 5:30-8:30 p.m.<br>
		Transtar Industries, Inc.<br></strong>
		2425 Irving Blvd.<br>
        Dallas, TX  75207<br>
        (800) 274-2631</li>
		
		<li class="enventlist"><strong>October 30 at 9:00-10:30 a.m.<br>
		ATRA Powertrain Expo<br></strong>
		Las Vegas Hilton<br>
		3000 Paradise Road<br>
        Las Vegas, NV  89109
        <p class="event">No seminar registration required</p></li>
    </ul>

    <p class="event">More seminars are planned throughout the year. Check back often for the latest Sonnax Roadshow schedule.</p>
  </div>
</div>

