<div id="news-and-events">
  <h1>Sonnax Roadshow Seminars Sign-Up</h1>
  <div align="right">* Required Fields are in Red.</div>
    <form>
    <table width="750" cellpadding="0" cellspacing="0" border="0">
    <tr>
    	<td valign="top" align="right"><h3><span style="color:#F00">Roadshow Seminar</span></h3></td>
        <td rowspan="10" width="6">&nbsp;</td>
        <td width="297" valign="top">
        <input type="radio" name="Seminar" value="March17">March 17 at DACCO<br>
        <input type="radio" name="Seminar" value="April1">April 1 at Transmission Parts Supply<br>
        <input type="radio" name="Seminar" value="April7">April 7 at VTP Trans Parts South<br>
        </td>
        <td colspan="2" width="297" valign="top">
        <input type="radio" name="Seminar" value="May12">May 12 at Transtar Industries<br>
        <input type="radio" name="Seminar" value="June9">June 9 at Midwest Trans Supply
        </td>
    </tr>
    <tr>
    	<td width="150" align="right" valign="bottom"><h3><span style="color:#F00">Name</span></h3></td>
        <td valign="top"><span style="color:#F00">First</span><br>
        <input type="text" size="30" name="FirstName">
        </td>
        <td colspan="2" valign="top"><span style="color:#F00">Last</span><br>
        <input type="text" size="30" name="LastName">
        </td>
    </tr>
    <tr>
    	<td align="right" valign="bottom"><input type="submit" value="Add Attendee"></td>
        <td colspan="3">**Nate: this button needs to make additional boxes appear for first and last name**</td>
    </tr>
    <tr>
    	<td align="right" valign="bottom"><h3>Company</h3></td>
        <td colspan="3"><input type="text" size="50" name="Company"></td>
    </tr>
    <tr>
    	<td align="right" valign="bottom"><h3>Company/Attendee Address</h3></td>
        <td colspan="3">Street<br>
        <input type="text" size="50" name="Street">
        </td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
        <td width="225">City<br>
        <input type="text" size="30" name="City">
        </td>
        <td>State<br>
        <select name="State"></select>
        </td>
        <td>Zip<br>
        <input type="text" size="10" name="Zip">
        </td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
        <td colspan="3"><input type="checkbox" checked name="Newsletter"> Yes! I want to receive the Sonnax <em>Transmission Report</em> quarterly newsletter.
        </td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
        <td>Email<br>
        <input type="text" size="35" name="Email">
        </td>
        <td valign="top" colspan="2" rowspan="2"><br><input type="checkbox" checked name="Newsletter"> Yes! I want to receive Sonnax e-news bulletins.<br>
        <span class="event">The e-mail information you provide will remain private with Sonnax, we will never sell or give your personal information to any other party. The only information we maintain is the data you provide to us.</span>
        
        </td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
        <td><span style="color:#F00">Phone</span><br>
        <input type="text" size="15" name="Phone"><br>
        <span class="event">Your registration will be confirmed by phone with the company hosting your seminar.</span>
        </td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
        <td colspan="3"><input type="submit" value="Submit"></td>
    </tr>
    </table>
    </form>
    </p>
</div>
